<!-- col-lg-12 -->
<div class="col-lg-12">

    <!-- Section title -->
    <div class="gfort-block gfort-block-section-title gfort-text-center">
        <!-- Block container -->
        <div class="gfort-block-container">

            <!-- Block body -->
            <div class="gfort-block-body gfort-block-section-title-body">

                <!-- Block heading -->
                <div class="gfort-block-heading gfort-block-section-title-heading">
                    <h2>The 200%-commitment agreement</h2>
                </div><!-- /End Block heading -->

                <p>A great coaching relationship requires a 200% commitment.</p>

            </div><!--/End Block body -->

        </div><!-- /End Block container -->
    </div><!-- /End Section title -->


    <!-- Section -->
    <div class="gfort-section gfort-section-half gfort-section-half-left-media" id="" style="padding: 0">

        <!-- Media (Image) -->
        <div class="gfort-section gfort-section-half-media" style="padding: 0">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- Text block -->
                    <div class="gfort-block gfort-block-text">
                        <!-- Block container -->
                        <div class="gfort-block-container gfort-block-text-container">

                            <!-- Block body -->
                            <div class="gfort-block-body gfort-block-text-body">

                                <!-- Block content -->
                                <div class="gfort-block-content gfort-block-text-content">

                                    <p>On my side, I PROMISE you, that:</p>

                                    <ul class="gfort-icon-list">
                                        <li><i class="fas fa-check heading-color"></i>I will show up 100%.</li>
                                        <li><i class="fas fa-check heading-color"></i>I will hide nothing.</li>
                                        <li><i class="fas fa-check heading-color"></i>I will hold nothing back.</li>
                                        <li><i class="fas fa-check heading-color"></i>I will give you the most powerful, impactful, kick-ass, life-changing intensive coaching that you have ever experienced.</li>
                                    </ul>

                                </div><!-- /End Block content -->

                            </div><!--/End Block body -->

                        </div><!-- /End Block container -->
                    </div><!-- /End Text block -->


                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Media (Image) -->

        <!-- container -->
        <div class="container" style="padding-left: 40px;padding-right: 20px">
            <!-- row -->
            <div class="row">


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>On YOUR side, I REQUIRE of you:</p>

                                <ul class="gfort-icon-list">
                                    <li><i class="fas fa-check heading-color"></i>To show up 100%.</li>
                                    <li><i class="fas fa-check heading-color"></i>Hide nothing.</li>
                                    <li><i class="fas fa-check heading-color"></i>Hold nothing back.</li>
                                    <li><i class="fas fa-check heading-color"></i>Take action. Even when you’re afraid.</li>
                                    <li><i class="fas fa-check heading-color"></i>Be vulnerable.</li>
                                    <li><i class="fas fa-check heading-color"></i>Lean into your edge. Take risks.</li>
                                    <li><i class="fas fa-check heading-color"></i>Mess up, screw up, FAIL! Again and again and again. Because failure is the path to success.</li>
                                </ul>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End row -->
        </div><!-- /End container -->

    </div><!-- /End Section -->

</div><!-- /End col-lg-12 -->