<!-- col-lg-12 -->
<div class="col-lg-12">

    <!-- Section title -->
    <div class="gfort-block gfort-block-section-title gfort-text-center">
        <!-- Block container -->
        <div class="gfort-block-container">

            <!-- Block body -->
            <div class="gfort-block-body gfort-block-section-title-body">

                <!-- Block heading -->
                <div class="gfort-block-heading gfort-block-section-title-heading">
                    <h2>What is your investment?</h2>
                </div><!-- /End Block heading -->

                <p>The investment you need to do is not only about money.</p>

            </div><!--/End Block body -->

        </div><!-- /End Block container -->
    </div><!-- /End Section title -->

    <!-- Text block -->
    <div class="gfort-block gfort-block-text">
        <!-- Block container -->
        <div class="gfort-block-container gfort-block-text-container">

            <!-- Block body -->
            <div class="gfort-block-body gfort-block-text-body">

                <!-- Block content -->
                <div class="gfort-block-content gfort-block-text-content">

                    <ul class="gfort-icon-list">
                        <li><i class="fas fa-check heading-color"></i>I work with a very limited amount of extraordinary people that are willing to take courage and fully commit.</li>
                        <li><i class="fas fa-check heading-color"></i>Together, we will leave behind anything that holds you back, self-doubt, fear, and insecurity.</li>
                        <li><i class="fas fa-check heading-color"></i>We will uncover your blind spots and forward self-imposed limits.</li>
                        <li><i class="fas fa-check heading-color"></i>Together, we tailor a custom coaching program that fits exactly your needs.</li>
                        <li><i class="fas fa-check heading-color"></i>That works for you, from where you are at the moment.</li>
                        <li><i class="fas fa-check heading-color"></i>This opportunity won’t cost you only money.</li>
                        <li><i class="fas fa-check heading-color"></i>It will require your full commitment.</li>
                        <li><i class="fas fa-check heading-color"></i>It will require you to invest your energy and courage.</li>
                        <li><i class="fas fa-check heading-color"></i>Are you ready to really begin creating the future you have dreamed of?</li>
                        <li><i class="fas fa-check heading-color"></i>When you will be ready, let's have a conversation and your life won't ever be the same.</li>
                    </ul>

                </div><!-- /End Block content -->

            </div><!--/End Block body -->

        </div><!-- /End Block container -->
    </div><!-- /End Text block -->

</div><!-- /End col-lg-12 -->