<div class="certificates-container">

    <div class="certificates-title-container">
        <div class="vertical-text-container">
            <span class="title">Certificates</span>
        </div>
    </div>

    <div class="certificates-text-container">

        <div class="certificate-container">
            <div class="title">
                Certified Scrum Master - PSM I
            </div>
            <div class="organization">
                <a href="https://www.scrum.org/" class="link" target="_blank">Scrum.org</a>
            </div>
            <div class="date">
                April 2015
            </div>
        </div>

        <div class="certificate-container">
            <div class="title">
                Sun Certified Java Programmer
            </div>
            <div class="organization">
                <a href="https://www.oracle.com/index.html" class="link" target="_blank">Oracle</a>
            </div>
            <div class="date">
                March 2010
            </div>
        </div>

    </div>

</div>