<div class="row2-left-container">

    <div class="cover-title-container">
        <div class="vertical-text-container">
            <div class="line"></div>
            <span class="title">My identity</span>
        </div>
    </div>

    <div class="cover-text-container">

        <div class="cover-text">
            Give me the worst team in your organization and I will show them how to become the best one within six months!
            <br><br>
            Sounds arrogant, right? This is what Jeff Sutherland is all the time talking about in his books about Scrum and I have been able to help several teams to achieve it.
            <br><br>
            Scrum is “simple to understand, and difficult to master” as the official guide states. It is very easy to start having the events and assigning roles but it is extremely hard to implement these correctly in order to be able to achieve the promised results.
            <br><br>
            My Scrum recipe stabilises a robust environment to implement the basics of Scrum in a simple and flexible way that allows teams to quickly start succeeding with Agile at the same time that challenges them to grow and overcome themselves every Sprint.
            <br><br>
            My two passions are Agile and coding and I have learnt how to complement each other to make teams succeed fastly and efficiently.
            <br><br>
            The trip starts with product discovery and validation. Why wait until some new feature or product is online to discover that nobody likes it? How much time and money do you need to spend to realize that?
            <br><br>
            Product discovery and validation allows your products to be born and grow towards successful paths to minimize waste and improve the efficiency of your organization.
            <br><br>
            A clear and robust process will help your people to organize as autonomous and hyper-performance teams that will be able to deliver more value faster in an efficient and happy way.
            <br><br>
            Functional teams will allow your organization to grow faster and quickly achieve its goals.
        </div>

    </div>

</div>