<div class="row2-right-container">

    <div class="cover-text-container">

        <div class="cover-text">
            Finally, good ideas need to be built. Hyper-performance teams are the teams that you would like to be part of, the ones that you would like to have in your company and the ones you would like to help to create. Working in such kind of team makes people proud and happy which motivates them to achieve higher quality products faster.
            <br><br>
            Clean code and efficient tooling are critical to the success of complex products. Scalability and availability are a must. The magic of technologies like Domain Driven Design, Test Driven Development, Continuous Delivery and Docker is so important nowadays.
            <br>
            Imagine hiring new members in your team that can be on-boarded and fully functional in one day. People that know where to place a file without asking anyone during their first day, people that know what every file does because there is only one correct answer. Stop imagining, this is already here.
            <br><br>
            My core values are Respect, Teamwork and Commitment. Everything you can imagine can be achieved if you manage to implement the three of them and I can help you to do it faster.
            <br><br>
            The promise of Scrum and real hyper-performance teams is twice the work in half the time. Four times productivity.
            <br>
            Imagine what you could achieve if you were able to have four times your workforce at the same price. Build all your dreams faster than you would ever imagine, conquer new markets before your competitors, explore new ideas with predictable prototypes and all this with the highest quality products.
            <br><br>
            Stop imagining and let me help you.
        </div>

    </div>

</div>
