<div class="instruction-wrapper">

    <div class="instruction-container">
        <div class="title">Education</div>
        <div class="sub-title">
            <a href="https://www.unileon.es" class="link" target="_blank">University of León, Spain</a>
        </div>
        Computer Bachelor Degree, Computer Science
    </div>

</div>