<div class="experience-right-wrapper">

    <div class="experience-right-container">


        <div class="experience-container">
            <div class="title">
                Chief Technical Officer & TDD Software Architect
            </div>
            <div class="company">
                <a href="https://www.game-learn.com" class="link" target="_blank">Gamelearn, Spain</a>
            </div>
            <div class="dates">
                2013 - 2016
            </div>
        </div>

        <div class="experience-container">
            <div class="title">
                Project Manager & BackEnd Analyst
            </div>
            <div class="company">
                <a href="https://www.btob.es" class="link" target="_blank">BTOB, Spain</a>
            </div>
            <div class="dates">
                2012 - 2013
            </div>
        </div>

        <div class="experience-container">
            <div class="title">
                Software Analyst
            </div>
            <div class="company">
                <a href="https://www.hpe.com" class="link" target="_blank">Hewlett Packard, Spain</a>
            </div>
            <div class="dates">
                2008 - 2012
            </div>
        </div>

        <div class="experience-container">
            <div class="title">
                Junior Web Developer
            </div>
            <div class="company">
                <a href="https://www.mediaoncloud.it" class="link" target="_blank">MediaOnLine S.L.R., Italy</a>
            </div>
            <div class="dates">
                2005 - 2006
            </div>
        </div>

    </div>

</div>
