<div class="experience-left-container">
    <div class="experience-left-wrapper-container">

        <div class="experience-title-container">
            <div class="vertical-text-container">
                <div class="line"></div>
                <span class="title">Experience</span>
            </div>
        </div>

        <div class="experiences-container">
            <div class="experience-container">
                <div class="title">
                    Agile Coach & DDD Software Engineer
                </div>
                <div class="company">
                    <a href="http://www.alexagile.com" class="link" target="_blank">Alex Agile, Amsterdam</a>
                </div>
                <div class="dates">
                    2019 - Present
                </div>
            </div>

            <div class="experience-container">
                <div class="title">
                    Agile Coach & TDD Software Engineer
                </div>
                <div class="company">
                    <a href="http://www.becominganagilearchitect.com" class="link" target="_blank">Becoming an Agile
                        Architect, Amsterdam, Spain</a>
                </div>
                <div class="dates">
                    2014 - Present
                </div>
            </div>

            <div class="experience-container">
                <div class="title">
                    Agile Coach & Software Engineer
                </div>
                <div class="company">
                    <a href="https://www.werkspot.nl" class="link" target="_blank">Werkspot.nl, Amsterdam</a>
                </div>
                <div class="dates">
                    2018 - Present
                </div>
            </div>

            <div class="experience-container">
                <div class="title">
                    Senior Software Engineer
                </div>
                <div class="company">
                    <a href="https://www.doclerholding.com" class="link" target="_blank">Docler Holding, Amsterdam</a>
                </div>
                <div class="dates">
                    2017
                </div>
            </div>

            <div class="experience-container">
                <div class="title">
                    Senior Software Engineer
                </div>
                <div class="company">
                    <a href="https://www.castoredc.com" class="link" target="_blank">Castor EDC, Amsterdam</a>
                </div>
                <div class="dates">
                    2016 - 2017
                </div>
            </div>

        </div>
    </div>

</div>