<div class="intro-container">

    <div class="title">
        Agile Coach & Software Engineer
    </div>

    <div class="other-info-container">
        <div class="location field">
            Amsterdam
        </div>

        <div class="block-container">
            <div class="field">
                Now
            </div>
            <div class="content">
                <a href="http://www.alexagile.com" class="link" target="_blank">Alex Agile</a><br>
                <a href="http://www.becominganagilearchitect.com" class="link" target="_blank">Becoming An Agile Architect</a><br>
                <a href="https://www.werkspot.nl" class="link" target="_blank">Werkspot</a>
            </div>
        </div>

        <div class="block-container">
            <div class="field">
                Previously
            </div>
            <div class="content">
                <a href="https://www.doclerholding.com" class="link" target="_blank">Docler Holding</a>,
                <a href="https://www.castoredc.com" class="link" target="_blank">Castor EDC</a>,
                <a href="https://www.game-learn.com" class="link" target="_blank">Gamelearn</a>,
                <a href="https://www.btob.es" class="link" target="_blank">BTOB</a>,
                <a href="https://www.hpe.com" class="link" target="_blank">Hewlett Packard</a>,
                <a href="https://www.mediaoncloud.it" class="link" target="_blank">MediaOnLine</a>
            </div>
        </div>

        <div class="block-container">
            <div class="field">
                Education
            </div>
            <div class="content">
                <a href="https://www.unileon.es" class="link" target="_blank">University of León, Spain</a>
            </div>
        </div>

        <div class="block-container">
            <div class="field">
                Webs
            </div>
            <div class="content">
                <a href="http://www.alexagile.com" class="link" target="_blank">Alex Agile</a><br>
                <a href="http://www.becominganagilearchitect.com" class="link" target="_blank">Becoming An Agile Architect</a>
            </div>
        </div>

        <div class="block-container">
            <div class="field">
                Contact
            </div>
            <div class="content">
                <a href="mailto:alexagile@alexagile.com" class="link">alexagile@alexagile.com</a><br>
                <a href="https://www.linkedin.com/in/alejandro-barba" class="link" target="_blank">LinkedIn</a><br>
                <a href="https://github.com/Alex-Agile" class="link" target="_blank">Github</a>
            </div>
        </div>

    </div>

</div>