<div class="languages-container">

    <div class="languages-title-container">
        <div class="vertical-text-container">
            <div class="line"></div>
            <span class="title">Languages</span>
        </div>
    </div>

    <div class="content-container">

        <div class="language-container">
            <div class="name">Spanish</div>
            <div class="level">Native</div>
        </div>

        <div class="language-container">
            <div class="name">English</div>
            <div class="level">Full professional proficiency</div>
        </div>

        <div class="language-container">
            <div class="name">Italian</div>
            <div class="level">Native or bilingual proficiency</div>
        </div>

    </div>

</div>