<div class="skills-container">

    <div class="skills-left-container">
        <div class="vertical-text-container">
            skills
        </div>
    </div>

    <div class="skills-right-container">

        <div class="skill-container">
            <div class="skill-title">
                Agile
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '9', 'gray': '1'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Scrum
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '10', 'gray': '0'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Kanban
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '7', 'gray': '3'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                People Coaching
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Project Management
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '9', 'gray': '1'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Domain Driven Design
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Ports & Adapters (Hexagonal Architecture)
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '9', 'gray': '1'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Object Oriented Programming
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '9', 'gray': '1'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Test Driven Development
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '10', 'gray': '0'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Continuous Delivery
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                High Scalability
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '7', 'gray': '3'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                High Availability
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Amazon Web Services
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '6', 'gray': '4'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Docker
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Ansible
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '7', 'gray': '3'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Gitlab
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '7', 'gray': '3'} %}
            </div>
        </div>

        <div class="skill-container">
            <div class="skill-title">
                Git
            </div>
            <div class="skill-bar">
                {% include 'About/Template/Skill.html.twig' with {'coloured': '8', 'gray': '2'} %}
            </div>
        </div>

    </div>
</div>