    <!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="Approach">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>My Approach</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/home/approach/approach.jpg" alt="Team Coaching" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I help tech companies tackle their management and teamwork challenges to develop employee leadership skills that enable them to collaborate effectively and take the business to the next level.</p>
                                <p>My leadership coaching is based on Marshall Goldsmith’s Stakeholder Centered Coaching, the world’s number one leadership coaching program. As such, I am part of one of the largest executive coaching networks in the world.</p>
                                <p>The process is simple. We follow and repeat these seven steps:</p>

                                <!-- Block -->
                                <div class="gfort-block">
                                    <!-- Block container -->
                                    <div class="gfort-block-container">

                                        <!-- Block body -->
                                        <div class="gfort-block-body">

                                            <!-- Block content -->
                                            <div class="gfort-block-content">

                                                <ol>
                                                    <li>Use 360º feedback to generate awareness about the strengths and areas to improve.</li>
                                                    <li>Choose the areas to improve and create a Business Case.</li>
                                                    <li>Involve Stakeholders to support your coaching journey.</li>
                                                    <li>Ask your stakeholders for suggestions about how to improve.</li>
                                                    <li>Create an Action Plan based on the suggestions you receive.</li>
                                                    <li>Execute the Action Plan.</li>
                                                    <li>Follow-up with your stakeholders and measure your progress using the surveys available for them on the platform.</li>
                                                </ol>

                                            </div><!-- /End Block content -->

                                        </div><!--/End Block body -->

                                    </div><!-- /End Block container -->
                                </div><!-- /End Block -->

                                <p>The process has proved to be so effective that you only pay when improvement has been measured.</p>
                                <p><b>Let’s have a free call and discover how my approach can help you.</b></p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('contact') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Let's talk</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
