<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="CoachingSimplyForYou">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gfort-flex-row-reverse align-items-center">

            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/home/coaching-simply-for-you/coaching-simply-for-you.jpg" alt="One-On-One Coaching" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Coaching Simply for You</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>You are smart, passionate, hard worker, and a high-achiever. You know you are doing good but you feel you could be doing better.</p>

                                <p>People recognize you for what you do, for who you are but, inside, you know this is only a small part of what you could be able to do, of what you would be able to be.</p>

                                <p>You know you could achieve more, do better, aim higher, but there is never the right moment, there is always still time, it looks too complex to start with, it looks too hard at the moment, maybe when things will settle down a bit more.</p>

                                <p>It looks like the perfect moment will never arrive, it will be always a bad time, things will never settle down enough, but time never stops moving forward.</p>

                                <p>You are alive but you feel as if you weren't.</p>

                                <p>You feel as if there was a wild and powerful version of yourself that struggles to show up, to speak up her voice.</p>

                                <p>You keep this better version of yourself in a secret place. You don't want it to confront the world. It is too risky. You keep it safe.</p>

                                <p>Time passes and you start forgetting about the wild version. The secret place becomes a secret prison.</p>

                                <p>Now it is anything but wild or powerful.</p>

                                <p>Not anymore.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

                <!-- Block footer -->
                <div class="gfort-block-footer gfort-block-pricing-footer gfort-text-center">
                    <a href="{{ path('one-on-one-coaching') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Learn More</a>
                </div><!-- /End Block footer -->

                <!-- GAP -->
                <div class="gfort-gap gfort-gap-51 d-none d-md-block"></div>

            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom grey-1-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->

</div><!-- /End Section -->