<!-- Section -->
<div class="gfort-section gfort-section-2x-padding gfort-pt-0">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/home/feedback-360/feedback-360.jpg" alt="360º Feedback Assessment" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2><br><br>
                                    360º Feedback Assessment</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Are you aware of the biggest strengths and weaknesses of your people?</p>
                                <p>The 360º feedback assessment articulates and measures the top 15 most pressing competencies for today’s global leader.</p>
                                <p>It shows leaders the areas they need to develop in order to succeed in a competitive business environment.</p>
                                <p>As a certified GLA360 practitioner I facilitate the 360º assessment and report debriefs both for your leaders and teams</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('contact') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Let's talk</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->