<!-- Section -->
<div class="gfort-section gfort-section-2x-padding gfort-pt-0" id="TheSaboteurs">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gfort-flex-row-reverse align-items-center">

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- GAP -->
                        <div class="gfort-gap gfort-gap-144 d-none d-md-block"></div>

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/home/saboteurs/saboteurs.jpg" alt="The Massive Impact Of The Self Saboteurs In You" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- GAP -->
                            <div class="gfort-gap gfort-gap-30 d-none d-md-block"></div>

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>The massive strike of the self-saboteurs in your organization</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Discover the biggest impediment to your teams’ high performance.</p>

                                <p>The self-saboteurs are those voices that ruthlessly remind us of what our colleagues and ourselves are not good at.</p>

                                <p>They are those entangled beliefs that tell us that we aren’t ready for our next challenge, that we shouldn’t take any risks, that the only one right way to do things is the one that can be proved with facts and data, that our colleagues and managers have no idea about how to do things right, or that we are the only ones capable to see the optimal way.</p>

                                <p>The most painful part is that we are clueless about their massive impact on our organizations, teams, and lives.</p>

                                <p>They are the ones that prevent us to move from controlling managers to empowering leaders, our teams to achieve high-performance, and our organizations to offer a world-class experience.</p>

                                <p>Would you like to learn more about the self-saboteurs and how to stop them from manipulating you and your organization?</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

                <!-- Block call-to-action -->
                <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                    <a href="{{ path('saboteurs') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Read More</a>

                </div><!-- /End Block call-to-action -->

            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom grey-1-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->
    
</div><!-- /End Section -->