<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="Testimonials">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>What Clients Are Saying</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Alexandra Zimnicaru</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">Lead Frontend Developer</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 430px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "Changing my mindset hasn’t been an easy process, but Alex helped me approach it with patience and daily practice."
                                    </span>
                                </p>
                                <p>Alex helped me realize that
                                    many of the obstacles which used to keep me from achieving my goals were of my own
                                    making: my own fear of failure, my biased judgment of circumstances and other people.
                                    As he was able to show me, exploring different ways of thinking can bring
                                    forward more opportunities, and give you a better idea of the big picture.
                                    Changing my mindset hasn’t been an easy process,
                                    but Alex helped me approach it with patience and daily practice.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Nicholas Leo Martin</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">Freelance Senior Data Scientist</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 430px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "Alex helped me identify several unconscious constraints that I had imposed on myself."
                                    </span>
                                </p>

                                <p>During a coaching session with Alex, in an open and non-judgemental manner, he helped me
                                    identify several unconscious constraints that I had imposed on myself. He listened intently and asked
                                    questions, taking the position that "you are the expert in your own problems”. At the end of
                                    the session, I had a clear sense of what I needed to achieve to be more fulfilled. If you are
                                    seeking personal and professional growth, I would recommend you speak to Alex.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Andrés Romero Jiménez</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">FX Artist | 3D Generalist</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 430px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "Alex has been a great compass, though the changes come from one self-efforts."
                                    </span>
                                </p>

                                <p>Alex has been my coach during the last months. During this journey I ́ve learned a lot about
                                    myself, my weaknesses and strengths and widened my views inward and outward. Alex has
                                    been a great compass during this time, though the changes come from one self-efforts. He is
                                    honest and straight forward when communicating. I would recommend Alex's coaching, no
                                    doubt.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">
                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" target="_blank">Would you like to know more?</a>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
