<!-- Footer
                                ============================================================ -->
<footer class="gfort-section-footer site-footer">
    <!-- footer container -->
    <div class="gfort-section-footer-container">


        <!-- footer top -->
        <div class="gfort-section-footer-top">
            <!-- Section -->
            <div class="gfort-section gfort-section-3x-padding dark-3-bg-color">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">


                        <!-- col-lg-4 -->
                        <div class="col-lg-4">
                            <!-- Text -->
                            <div class="widget light-color widget_text">

                                <div class="textwidget">

                                    <ul class="gfort-list-style-none">
                                        <li>Alejandro Barba Consulting</li>
                                        <li>KVK 773 95 123</li>
                                        <li>VAT NL003190327B03</li>
                                        <li>
                                            <a href="http://www.alexbarbacoaching.com/documents/Terms%20and%20Conditions%20-%20Alex%20Barba%20Coaching.pdf" target="_blank">
                                                Terms and Conditions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.alexbarbacoaching.com/documents/Privacy%20Policy%20-%20Alex%20Barba%20Coaching.pdf" target="_blank">
                                                Privacy Policy
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                            </div><!-- /End Text -->
                        </div><!-- /End col-lg-4 -->

                        <!-- col-lg-4 -->
                        <div class="col-lg-4">
                            <!-- Text -->
                            <div class="widget light-color widget_text">

                                <div class="textwidget">

                                    <ul class="gfort-list-style-none">
                                        <li>
                                            <a href="mailto:alex@alexbarbacoaching.com" title="Alex Barba Coaching" target="_blank">alex@alexbarbacoaching.com</a>
                                        </li>
                                        <li>
                                            <a href="tel:+31683098340" title="Telephone number" target="_blank">+31 683 098 340</a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/alex-barba-coaching/" class="gfort-width-auto" title="Alex Barba on LinkedIn" target="_blank">
                                                <img src="/new-assets/images/footer/linkedin-logo.png" alt="Alex Barba on LinkedIn" />
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                            </div><!-- /End Text -->
                        </div><!-- /End col-lg-4 -->

                        <!-- col-lg-4 -->
                        <div class="col-lg-4">
                            <!-- Text -->
                            <div class="widget light-color widget_text">

                                <div class="textwidget">

                                    <div style="display: inline-block; padding: 10px">
                                        <a href="https://sccoaching.com/coach/abarba1" class="gfort-width-auto" target="_blank">
                                            <img src="/new-assets/images/footer/mgscc-logo.png" alt="Marshall Goldsmith Stakeholder Centered Coaching - Certified Professional Coach" />
                                        </a>
                                    </div>

                                    <div style="display: inline-block; padding: 10px">
                                        <a href="/documents/ICFMembershipCertificate__nficf_8f160140-cb29-42e4-9e8d-9984b988390f6242020.pdf" class="gfort-width-auto" target="_blank">
                                            <img src="/new-assets/images/footer/icf-logo.png" alt="International Coaching Federation" />
                                        </a>
                                    </div>

                                    <div style="display: inline-block; padding: 10px">
{#                                        <a href="#" class="gfort-width-auto" target="_blank">#}
                                            <img src="/new-assets/images/footer/cti-logo.png" alt="Co-Active Training Institute - Co-Active Coach" />
{#                                        </a>#}
                                    </div>

                                    <div style="display: inline-block; padding: 10px 10px 10px 45px; text-align: center">
                                        <a href="https://www.icagile.com/Certification/Verify-Credentials/ctl/UserDetails/mid/697/uid/a5e3e490-e9ea-4cfe-8cf8-b60fa45f17b0" class="gfort-width-auto" target="_blank">
                                            <img src="/new-assets/images/footer/icp-acc-logo.png" alt="ICAgile Certified Professional - Agile Coaching (ICP-ACC)" />
                                        </a>
                                    </div>

                                </div>

                            </div><!-- /End Text -->
                        </div><!-- /End col-lg-4 -->


                    </div><!-- /End row -->
                </div><!-- /End container -->
            </div><!-- /End Section -->
        </div><!-- /End footer top -->


    </div><!-- /End footer container -->
</footer><!-- /End footer -->
