<!-- Header
                ============================================================ -->
<header class="gfort-section-header gfort-section-header-layout-1 gfort-section-header-fixed gfort-section-header-transparent gfort-section-header-transparent-light">
    <!-- Main header section container -->
    <div class="gfort-section-header-container">


        <!-- Header menu section -->
        <div class="gfort-section-header-menu">
            <!-- Header menu section container -->
            <div class="gfort-section-header-menu-container">
                <!-- Navbar -->
                <nav class="gfort-navbar gfort-navbar-expand-lg">


                    <!-- container -->
                    <div class="container secondary-font-family">


                        <!-- Logo -->
                        <a class="gfort-navbar-brand" href="http://expanding-leadership.alexbarbacoaching.com/" title="Expanding Leadership Coaching Training">
                            <img src="assets/images/expanding/logo-dark.png" alt="Expanding Leadership Coaching Logo" class="gfort-navbar-brand-normal" />
                            <img src="assets/images/expanding/logo.png" alt="Expanding Leadership Coaching Logo" class="gfort-navbar-brand-transparent" />
                        </a><!-- /End Logo -->


                    </div><!-- /End container -->


                </nav><!-- /End Navbar -->
            </div><!-- /End Header menu section container -->
        </div><!-- /End Header menu section -->


    </div><!-- /End Main header section container -->
</header><!-- /End Main header section wrapper -->