<!-- Section -->
<div class="gfort-section white-bg-color gfort-pt-0 gfort-pb-0 gfort-bg-position-center-center" id="Hero">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center justify-content-center gfort-section-100vh gfort-pt-72 gfort-pb-72">


            <!-- col-xl-12 -->
            <div class="col-xl-12 col-lg-7">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Your contact request has been gently received.</h2>
                                <br>
                                <p>At Alex Barba Coaching, we are all very busy examining your contact request with sterilized, Covid-free gloves.</p>
                                <br>
                                <p>A team of 50 experts inspected your contact request and polished a custom made reply to make sure it was in the best possible condition before mailing it back to you.</p>
                                <br>
                                <p>Our packing specialist from Japan lit a candle, and a hush fell over the crowd as he put your reply into the finest gold-lined envelop that money can buy.</p>
                                <br>
                                <p>We all had a wonderful celebration afterward, and the whole party marched down the street to the post office, where the entire town of Amsterdam waved "Bon Voyage!" to your reply, on its way to you, in our private Alex Barba Coaching jet.</p>
                                <br>
                                <p>I hope you had a wonderful time at Alex Barba Coaching. We sure did. Your picture is on our wall as "Visitor of the Year."</p>
                                <br>
                                <p>We are all exhausted but can't wait for you to come back to Alex Barba Coaching!!</p>

                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-none d-md-block"></div>


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('home') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Home</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

</div><!-- /End Section -->
