<header id="menu">
    <a href="{{ path('home') }}" class="link">
        <div class="logo"></div>
        <div class="title">Alex Barba<br>Coaching</div>
    </a>

    {#{{ include(':Component:Social.html.twig') }}#}

    {{ render(controller('AlexAgile\\Infrastructure\\Symfony\\Menu\\MenuController')) }}
</header>