<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160278084-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160278084-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% block metatags %}{% endblock %}

    <title>{% block title %}Alex Barba Coaching - Be authentic, achieve the impossible, make the deepest impact{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:thin,light,regular,medium,bold,black" rel="stylesheet">

    <link rel="shortcut icon" href="build/assets/images/favicon.347d4611.ico" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('css') }}
    {% endblock %}

    {% block custom_stylesheets %}{% endblock %}

    {# Analytics code #}
    <script></script>
</head>


