<!-- Section -->
<div class="gfort-section gfort-bg-position-center-center grey-1-bg-color gfort-pt-0 gfort-pb-0" id="BecomingExtraordinary" style="background-image: url(assets/images/expanding/becoming-extraordinary/becoming-extraordinary3.jpg);">

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-72 gfort-sep-top white-bg-color d-none d-lg-block">
    </div><!-- /End Separator -->

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36 d-lg-none"></div>
            </div><!-- /End col-lg-12 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title dark-1-bg-color light-color gfort-mb-0" style="padding: 14.52% 14.52% 0;">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-500 secondary-font-family heading-color">
                                <p>Expanding Leadership Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Becoming Extraordinary</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 white-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text dark-1-bg-color light-color gfort-mb-0" style="padding: 0 14.52% 14.52%;">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <div class="gfort-gap gfort-gap-36"></div>

                                <p>Ordinary people believe only in the possible.<br>
                                    Extraordinary people visualize not what is possible or probable, but rather what is impossible.<br>
                                    And by visualizing the impossible, they begin to see it as possible.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36 d-lg-none"></div>
            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-72 gfort-sep-bottom white-bg-color d-none d-lg-block">
    </div><!-- /End Separator -->

</div><!-- /End Section -->
