<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="HowThisTrainingIsDifferent">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Expanding Leadership Training</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>How this training is different</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-text-heading">
                                <h4>This training is transformational, not informational.</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>This training is not about reading materials and watching videos. This training is about getting your hands on.<br>
                                    In this training, you will learn how to coach and you will be coached too. You will be transformed in the same way that you will learn how to transform your clients.<br>
                                    You will become the person you want to be in order to become an astonishing coach.
                                    </p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Divider -->
                <div class="gfort-hr-divider gfort-hr-divider-layout-5 fullwidth grey-2-border-color gfort-mt-54 gfort-mb-54">
                </div><!-- /End Divider -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-text-heading">
                                <h4>Discover the Fundamental Principles and Skills of Coaching</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Understand the coaching principles and practice the coaching skills you need in order to transform yourself into the Coach you always wanted to be.<br>
                                    Learn the most powerful exercises and how to use them with your clients.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Divider -->
                <div class="gfort-hr-divider gfort-hr-divider-layout-5 fullwidth grey-2-border-color gfort-mt-54 gfort-mb-54">
                </div><!-- /End Divider -->


            </div><!-- /End col-lg-6 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-text-heading">
                                <h4>Working together One-on-One</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>During the whole duration of the training, we will work one-on-one together. I personally will show you how to master the art of coaching.<br>
                                    Unlike other coaching training programs, in which you attend seminars with other 30 people, this training is a unique experience in which we work closely together, one-on-one. Just the two of us.<br>
                                    You will get all the attention you need and real-time feedback about your successes and failures.
                                    <br><br>
                                </p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Divider -->
                <div class="gfort-hr-divider gfort-hr-divider-layout-5 fullwidth grey-2-border-color gfort-mt-54 gfort-mb-54">
                </div><!-- /End Divider -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-text-heading">
                                <h4>Get immediate results</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Coaching is about doing, it is about practicing.<br>
                                    Gain the confidence that you need to generate insights for your clients and get immediate results for them and for yourself.
                                    <br><br>
                                </p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Divider -->
                <div class="gfort-hr-divider gfort-hr-divider-layout-5 fullwidth grey-2-border-color gfort-mt-54 gfort-mb-54">
                </div><!-- /End Divider -->


            </div><!-- /End col-lg-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

</div><!-- /End Section -->