<!-- Section -->
<div class="gfort-section gfort-section-3x-padding gfort-pt-0" id="Module3">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/module-3/module-3.jpg" alt="Image" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2><br><br>
                                    Module 3:<br>
                                    Certified Expanding Leadership Coach</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>In the last 10 weeks of the training, you will discover how to master leadership and executive coaching.</p>
                                <p>Discover the secret to coach people a lot more successful than you. Gain the confidence and experience you need to take high-achievers and top-performers to their next level of success.</p>
                                <p>Understand how the human brain works. Use it to create lasting and powerful insights for your more intimidating clients.</p>
                                <p>At the end of this module, you will receive your Expanding Leadership Coach Certification.</p>
                                <p>In this module you will master:</p>

                                <!-- Block -->
                                <div class="gfort-block">
                                    <!-- Block container -->
                                    <div class="gfort-block-container">

                                        <!-- Block body -->
                                        <div class="gfort-block-body">

                                            <!-- Block content -->
                                            <div class="gfort-block-content">

                                                <ul class="gfort-icon-list">
                                                    <li><i class="fas fa-star accent-color"></i>Coaching from the Inside-Out.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Playing out of the comfort zone.</li>
                                                    <li><i class="fas fa-star accent-color"></i>How to master your intuition to discover what is not being said.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Coaching clients more successful than you.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Skills you need to coach top-performing leaders.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The essence of transformational coaching.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Playing in the inner game.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Fearless coaching.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Creating an exponential impact.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The four illusions that hold people back from becoming an adult.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Hijack the art of client creation.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Exercises to take your clients to their next level.</li>
                                                </ul>

                                            </div><!-- /End Block content -->

                                        </div><!--/End Block body -->

                                    </div><!-- /End Block container -->
                                </div><!-- /End Block -->


                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer">

                                <a href="#Contact" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Save Your Spot</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->