<!-- Section -->
<div class="gfort-section gfort-section-3x -padding gfort-pt-0 grey-1-bg-color" id="Module2">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gfort-flex-row-reverse align-items-center">


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/module-2/module-2.jpg" alt="Image" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2><br><br>
                                    Module 2:<br>
                                    Advance coaching techniques</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>In the second module of the training, you will learn how to deepen your knowledge about the coaching principles and skills.</p>
                                <p>During the next 10 weeks, we will work closely together to master the art of transforming your clients.</p>
                                <p>In this module you will master:</p>

                                <!-- Block -->
                                <div class="gfort-block">
                                    <!-- Block container -->
                                    <div class="gfort-block-container">

                                        <!-- Block body -->
                                        <div class="gfort-block-body">

                                            <!-- Block content -->
                                            <div class="gfort-block-content">

                                                <ul class="gfort-icon-list">
                                                    <li><i class="fas fa-star accent-color"></i>Deepening the coaching principles.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The four elements to live an expanding life.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Withdrawing expectations and how those hijack your client’s goals.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The Fixed Mindset and the Growth Mindset.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The neuroscience of habits.</li>
                                                    <li><i class="fas fa-star accent-color"></i>How to use the 20 habits that hold successful people back.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The 5 seconds to get activated.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Mindset and Mastery. How to get to the essence of your clients’ dreams.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Performing 360º feedback.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The art of strategy design.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The Saboteur Mindset theory and its impact on your clients’ life.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Discover the power of your intuition.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Coaching exercises to deepen your client’s impact.</li>
                                                </ul>

                                            </div><!-- /End Block content -->

                                        </div><!--/End Block body -->

                                    </div><!-- /End Block container -->
                                </div><!-- /End Block -->


                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer">

                                <a href="#Contact" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Save Your Spot</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->