<!-- Section -->
<div class="gfort-section gfort-section-3x-padding" id="Module1">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Expanding Leadership Training</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Training Content</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/module-1/module-1.jpg" alt="Image" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Module 1:<br>
                                    Coaching Fundamentals</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Discover what coaching really is. I will show you the basic principles, skills, and techniques to effectively facilitate insights for your clients. One step at a time.</p>
                                <p>During the first 4 weeks, you will learn and practice all you need to get up and running and just start coaching.</p>
                                <p>Experiment coaching with me and put it into practice, with me and with your first clients. Get real-time feedback about your strengths and weaknesses.</p>
                                <p>In this module you will master:</p>

                                <!-- Block -->
                                <div class="gfort-block">
                                    <!-- Block container -->
                                    <div class="gfort-block-container">

                                        <!-- Block body -->
                                        <div class="gfort-block-body">

                                            <!-- Block content -->
                                            <div class="gfort-block-content">

                                                <ul class="gfort-icon-list">
                                                    <li><i class="fas fa-star accent-color"></i>Coaching 101: The art of asking instead of telling.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The arc of the coaching conversation.</li>
                                                    <li><i class="fas fa-star accent-color"></i>How to use powerful questions.</li>
                                                    <li><i class="fas fa-star accent-color"></i>All the required skills in the coaching toolbox.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The eight principles of coaching.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Coaching is about doing: Get your hands dirty.</li>
                                                    <li><i class="fas fa-star accent-color"></i>The types of coaching and when to apply each of them.</li>
                                                    <li><i class="fas fa-star accent-color"></i>Coaching exercises to apply with your clients to generate immediate results.</li>
                                                </ul>

                                            </div><!-- /End Block content -->

                                        </div><!--/End Block body -->

                                    </div><!-- /End Block container -->
                                </div><!-- /End Block -->

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer">

                                <a href="#Contact" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Save Your Spot</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
