<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="Pricing">
    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Expanding Leadership Training</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Pricing</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p>You can access the training modules at your own pace. The only requirement is to complete the modules in order to be able to apply for certification.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


        </div><!-- /End row -->

        <!-- row -->
        <div class="row">


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-4 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>Module 1</h5>
                                <p>Coaching Fundamentals</p>
                            </div><!-- /End Title -->

                            <!-- icon -->
                            <div class="gfort-block-pricing-head-icon gfort-mt-30">
                                <img src="assets/images/expanding/pricing/fundamentals.jpg" alt="Image" class="gfort-width-auto" />
                            </div><!-- /End icon -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <p>4 weeks<br>
                                    995€</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-pricing-footer">
                                <a href="#Contact" class="gfort-btn gfort-btn-lg gfort-btn-round gfort-btn-block gfort-btn-outline gfort-btn-dark data-gfort-scroll">Save Your Spot</a>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-4 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>Module 2</h5>
                                <p>Advanced Coaching Techniques</p>
                            </div><!-- /End Title -->

                            <!-- icon -->
                            <div class="gfort-block-pricing-head-icon gfort-mt-30">
                                <img src="assets/images/expanding/pricing/advanced.jpg" alt="Image" class="gfort-width-auto" />
                            </div><!-- /End icon -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <p>
                                    6 weeks<br>
                                    1.495€
                                    </p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-pricing-footer">
                                <a href="#Contact" class="gfort-btn gfort-btn-lg gfort-btn-round gfort-btn-block gfort-btn-outline gfort-btn-dark data-gfort-scroll">Save Your Spot</a>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-4 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>Module 3</h5>
                                <p>Certified Expanding Leadership Coach</p>
                            </div><!-- /End Title -->

                            <!-- icon -->
                            <div class="gfort-block-pricing-head-icon gfort-mt-30">
                                <img src="assets/images/expanding/pricing/expert.jpg" alt="Image" class="gfort-width-auto" />
                            </div><!-- /End icon -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <p>
                                    6 weeks<br>
                                    1.495€
                                </p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-pricing-footer">
                                <a href="#Contact" class="gfort-btn gfort-btn-lg gfort-btn-round gfort-btn-block gfort-btn-outline gfort-btn-dark data-gfort-scroll">Save Your Spot</a>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


        </div><!-- /End row -->

        <!-- row -->
        <div class="row align-items-center">

            <!-- col-lg-4 -->
            <div class="col-lg-4"></div><!-- /End col-lg-4 -->

            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head accent-bg-color light-color">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>The Expert Path</h5>
                                <p>Sign in for the whole training now and get a</p>
                            </div><!-- /End Title -->

                            <!-- Price -->
                            <div class="gfort-block-pricing-head-price">
                                <h2>25% discount</h2>
                            </div><!-- /End Price -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <p>
                                    Sign in for The Expert Path now and <b>Pay 2.995€ instead of 3.985€</b><br>
                                    <b>Save 990€</b>
                                </p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-pricing-footer">
                                <a href="#Contact" class="gfort-btn gfort-btn-outline-reverse gfort-btn-primary gfort-btn-round data-gfort-scroll">Save Your Spot</a>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->

            <!-- col-lg-4 -->
            <div class="col-lg-4"></div><!-- /End col-lg-4 -->

        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->


<div class="gfort-hr-divider gfort-hr-divider-layout-5 fullwidth grey-2-color gfort-mt-0 gfort-mb-0"></div>
