<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="Tools">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-3 -->
            <div class="col-lg-3">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-cloud"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Fully Online</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>Follow the training from the comfort of your home. We work together online, the same as you do with your clients.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-3 -->


            <!-- col-lg-3 -->
            <div class="col-lg-3">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-book-open"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Workbooks</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>Use the training workbooks to learn at your own pace. Take your time to discover the concepts and put them in practice immediately with the exercises and experiments included.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-3 -->


            <!-- col-lg-3 -->
            <div class="col-lg-3">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-video"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Videos</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>Don’t waste our time together explaining the theory. Watch the videos in which I will explain to you the concepts so we can put those into practice during our sessions together.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

            </div><!-- /End col-lg-3 -->


            <!-- col-lg-3 -->
            <div class="col-lg-3">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-people-carry"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Working together</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>During our sessions, we will practice coaching together. I will coach you and you will coach me. You can’t take a client any deeper than you have gone yourself. I’ll give you feedback on the spot.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

            </div><!-- /End col-lg-3 -->


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>
            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom grey-1-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->

</div><!-- /End Section -->