<!-- Section -->
<div class="gfort-section gfort-section-3x-padding" id="WhatYouWillLearn">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Expanding Leadership Training</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>What you will learn</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p>In this training, I will show you the most important skills and techniques of deep, transformational coaching.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Block -->
                <div class="gfort-block">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body">

                            <!-- Block content -->
                            <div class="gfort-block-content">

                                <ul class="gfort-bordered-list grey-2-border-color">
                                    <li>The eight fundamental principles of coaching.</li>
                                    <li>The four elements to live an expanding life.</li>
                                    <li>The keys to leadership and executive coaching.</li>
                                    <li>How to perform effective 360º feedback.</li>
                                    <li>How to transform your client’s from a Fixed Mindset to the Growth Mindset.</li>
                                    <li>The 20 habits that hold successful people back.</li>
                                    <li>The Saboteur Mindset theory and its impact on your clients’ life.</li>
                                    <li>How to master your intuition to discover what is not being said.</li>
                                    <li>Hijack the art of client creation.</li>
                                    <li>Discover how to 10X your clients’ impact.</li>
                                    <li>Learn how to create transformational experiences for your clients.</li>
                                    <li>Get immediate results for your clients.</li>
                                    <li>Learn the most effective and insightful exercises to use with your clients.</li>
                                </ul>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Block -->


            </div><!-- /End col-lg-4 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->