<!-- Section -->
<div class="gfort-section gfort-section-3x-padding" id="WhyThisTraining">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Why This Training</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">
                                <p>This training is about creating an astonishing transformation for your clients.<br>
                                    As a coach, your job is to facilitate insights for your clients. Discover how.</p>

                                <p>Master the art of helping people to connect to their own reasons to change themselves and to achieve their next level of success.</p>

                                <p>A coach doesn’t tell you what to do. A coach doesn’t set the direction. A coach helps you to orient your internal compass in the right direction to achieve your goals and develop the mindset and skills you need in order to succeed.</p>

                                <p>In this training, I will show you how to work with your clients’ strengths and uncover what holds them back.<br>
                                    I will show you how to help your clients to discover what they do to succeed and also what they do, unconsciously, to sabotage themselves.</p>

                                <p>Sometimes we are who we are because of our behavior. Sometimes we are who we are in spite of our behavior.</p>

                                <p>This is the paradox of success.</p>

                                <p>What got you here is exactly what is holding you back from your next level of success. Your strengths become your bigger weaknesses. Your weaknesses can become your strengths.</p>

                                <p>Help your clients access a new kind of power and put at risk the success they’ve had until today to create the success they want in the future.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/why-this-training/why-this-training.jpg" alt="Image" class="gfort-width-auto" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->