<!-- Section -->
<div class="gfort-section gfort-section-3x-padding dark-1-bg-color" id="Working1on1WithMe">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/working-one-on-one/working-one-on-one.jpg" alt="Image" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title light-color">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Expanding Leadership Training</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Working Together</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text light-color">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>This training is transformational, not informational.</p>
                                <p>The main difference about this training is that we will work together, hand by hand, for sixteen weeks.</p>
                                <p>During this time you will master the principles of coaching and you will learn all the skills you need to succeed as a coach.</p>
                                <p>I will show you all the principles and skills in practice and, what is more important, you will use all these yourself and you will get real-time feedback from me about your progress and performance.<br>
                                    I will coach you and you will coach me too.</p>
                                <p>Sixteen intensive weeks to master the art and science of coaching.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="assets/images/expanding/working-one-on-one/signature.png" alt="Alex Barba" class="gfort-width-auto" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->