Redirect 301 "/page/you" "/"
Redirect 301 "/page/me" "/"
Redirect 301 "/page/us" "/"
Redirect 301 "/page/team-building" "/"
Redirect 301 "/page/one-on-one-coaching" "/"
Redirect 301 "/post/you" "/"
Redirect 301 "/post/me" "/"
Redirect 301 "/post/us" "/"
Redirect 301 "/page/business-coaching" "/"
Redirect 301 "/post/executive-coaching" "/"
Redirect 301 "/post/exponential-team-building" "/"
Redirect 301 "/page/group-coaching" "/"
Redirect 301 "/page/testimonials" "/"
