$about-background-green-color: #41DBA9;
$about-background-yellow-color: #FCDE70;

$black-color: #000000;

$blue-bullet-color: #03338e;
$blue-light-bullet-color: #A0C9E9;
$blue-link-color: #29ABE2;
$blue-referral-color: #4672FF;
$blue-experience-right-color: #2661f7;

$gray-dark-content-color: #363636;
$gray-dark-info-text-color: #7D7D7D;
$gray-dark-menu-text-color: #969696;
$gray-disabled-text-color: #A8A8A8;
$gray-input-button-color: #282828;
$gray-menu-color: #202020;
$gray-menu-text-color: #E8E8E8;
$gray-picture-placeholder-color: #F1F1F1;
$gray-separator-line-color: #EDEDED;
$gray-skill-dots-color: #9C9B96;
$gray-groups-border-color: #CCCCCC;

$green-bullet-color: #008000;

$red-bullet-color: #FF0000;
$red-color: #FF0000;

$white-color: #FFFFFF;
$yellow-bullet-color: #FFA500;
