/* Desktop */
html, body {
  #flex-wrapper {
    #center-element {
      #center-flex-wrapper {

        #content {
          @include flex(0 0 798px);
          background-color: $white-color;
          font-family: 'Catamaran', sans-serif;
          margin-left: 242px;

          .categories {
            @include verticalCategories(80px, 75px, 24px, $gray-menu-color);
          }

          #post-content {
            margin-top: 50px;
            width: 100%;

            .title-container {
              display: table;
              margin-top: 52px;
              width: 100%;

              .image-container {
                display: table-cell;
                width: 723px;

                .image {
                  height: 460px;
                  width: 700px;
                }

                .social-icons-container {
                  @include socialIcons(58px, 20px);

                  float: right;
                  width: 162px;
                }
              }
            }

            .title {
              display: block;
              left: 115px;
              min-height: 100px;
              top: -60px;
              position: relative;
              width: 650px;

              .title-text {
                background-color: $white-color;
                display: table-cell;
                font-family: 'Catamaran', sans-serif;
                font-size: 35px;
                font-weight: 300;
                line-height: 1.3em;
                padding-left: 70px;
                padding-right: 70px;
                padding-top: 45px;
                position: absolute;
                text-align: left;
                vertical-align: bottom;
                width: 100%;
              }
            }

            .info-container {
              display: table;
              padding-left: 181px;
              width: 100%;

              .item-container {
                display: inline-block;

                .icon {
                  display: inline-block;
                  height: 15px;
                  margin-top: 1px;
                  margin-right: 7px;
                  vertical-align: top;
                  width: 15px;
                }

                .date {
                  background-image: url('../images/icons/date-icon.png');
                }

                .comments {
                  background-image: url('../images/icons/comments-icon.png');
                }

                .views {
                  background-image: url('../images/icons/views-icon.png');
                }

                .shared {
                  background-image: url('../images/icons/shares-icon.png');
                }

                .text {
                  color: $gray-dark-info-text-color;
                  display: inline-block;
                  font-family: 'Catamaran', sans-serif;
                  font-size: 12px;
                  font-weight: 300;
                  margin-right: 18px;
                  vertical-align: top;
                }
              }
            }

            .content-container {
              display: table;
              width: 100%;

              .content-margin {
                display: table-cell;
                width: 75px;
              }

              .text {
                @include postQuote($black-color, 50px, 75px, 23px);

                color: $gray-dark-content-color;
                display: table-cell;
                font-family: 'Catamaran', sans-serif;
                font-size: 16px;
                font-weight: 400;
                margin-right: 18px;
                padding-top: 30px;
                padding-left: 30px;
                vertical-align: top;
              }
            }

            .signature-container {
              display: table;
              width: 100%;

              .picture-container {
                display: table-cell;
                padding-left: 25px;
                padding-top: 60px;
                width: 260px;

                .picture {
                  height: 76px;
                  width: 76px;
                }

                .signature-text-container {
                  position: relative;
                  left: 54px;
                  top: -24px;

                  .written-by {
                    color: $black-color;
                    font-weight: 700;
                    width: 181px;
                  }

                  .author {
                    color: $black-color;
                    font-weight: 500;
                    width: 181px;
                  }
                }
              }

              .author-description-container {
                display: table-cell;
                padding-top: 65px;
                vertical-align: top;

                .author-description {
                  color: $gray-dark-content-color;
                  font-weight: 400;
                  line-height: 1.5;
                }

                .author-links {
                  color: $black-color;
                  font-weight: 500;
                  padding-top: 8px;

                  .link {
                    color: $blue-link-color;
                  }
                }
              }
            }

            .comments-container {
              display: table;
              width: 100%;

              .title {
                color: $black-color;
                font-weight: 400;
              }

              .comment-container {

                .comment-block {
                  @include postCommentBlock();

                  border-top: 1px solid $gray-separator-line-color;
                  display: table;
                  margin-top: 20px;
                  padding-top: 30px;
                }

                .comment-replay-block {
                  @include postCommentBlock();

                  display: table;
                  margin-left: 105px;
                  margin-top: 20px;
                }
              }

              .new-comment-container {
                border-top: 1px solid $gray-separator-line-color;
                display: table;
                margin-top: 20px;
                padding-top: 25px;
                width: 100%;

                .comment-form {

                  .picture-container {
                    display: table-cell;
                    padding-top: 5px;
                    vertical-align: top;
                    width: 100px;

                    .picture-input {
                      @include borderRadius(25px);

                      background-color: $gray-picture-placeholder-color;
                      height: 50px;
                      width: 50px;
                    }
                  }

                  .content-container {
                    @include postPlaceholders();

                    display: table-cell;
                    padding: 0px;
                    vertical-align: top;

                    .input-class {
                      border: 0px;
                      font-family: 'Catamaran', sans-serif;
                      width: 95%;
                    }

                    .input-text {
                      font-weight: 700;
                      height: 25px;
                      margin-left: 2px;
                      margin-bottom: 10px;
                    }

                    .input-textarea {
                      font-weight: 300;
                      height: 100px;
                      resize: none;
                      width: 95%;
                    }
                  }

                  .send-button-container {
                    border-top: 1px solid $gray-separator-line-color;
                    margin-left: 100px;
                    margin-top: 5px;
                    padding-top: 15px;
                    text-align: right;

                    .button {
                      @include borderRadius(4px);

                      background-color: $gray-input-button-color;
                      border: 0px;
                      color: $white-color;
                      font-family: 'Catamaran', sans-serif;
                      font-size: 0.6em;
                      font-weight: 700;
                      height: 30px;
                      text-transform: uppercase;
                      width: 110px;
                    }
                  }
                }
              }
            }

            .related-container {
              display: table;
              width: 100%;

              .title-container {

                .title {
                  color: $black-color;
                  display: inline-block;
                  font-family: 'Catamaran', sans-serif;
                  font-size: 1.1em;
                  font-weight: 400;
                  vertical-align: top;
                }

                .line {
                  border-top: 1px solid $gray-dark-content-color;
                  display: inline-block;
                  height: 1px;
                  margin-left: 30px;
                  vertical-align: middle;
                  width: 54px;
                }
              }

              .related-posts-container {
                display: table;
                font-family: 'Catamaran', sans-serif;
                font-size: 1.1em;
                font-weight: 700;
                margin-bottom: 20px;
                margin-top: 20px;

                .linked-post-left {
                  display: table-cell;
                  padding-right: 10px;
                }

                .linked-post-center {
                  display: table-cell;
                  padding-left: 5px;
                  padding-right: 5px;
                }

                .linked-post-right {
                  display: table-cell;
                  padding-left: 10px;
                }
              }
            }

            .two-column-container {
              display: table;
              width: 100%;

              .two-column-left {
                display: table-cell;
              }

              .two-column-right {
                display: table-cell;
              }
            }
          }
        }
      }
    }
  }
}

/* Large screens */
@media all and (max-width: 1040px) {
  html, body {
    #flex-wrapper {
      #center-element {
        #center-flex-wrapper {

          #content {
            @include flex(1 0 auto);

            margin-left: 0px;

            .categories {
              @include horizontalCategories(10px, 20px, $gray-menu-color);
            }

            #post-content {
              margin-top: 0px;

              .title-container {
                display: block;
                margin-top: 0px;

                .image-container {
                  display: block;
                  height: auto;
                  padding-left: 20px;
                  padding-right: 20px;
                  width: 100%;

                  .image {
                    height: auto;
                    width: 100%;
                  }
                }
              }

              .title {
                left: 10%;
                top: -25px;
                position: relative;
                width: 86%;

                .title-text {
                  display: block;
                  font-size: 30px;
                  padding: 20px;
                  width: 100%;
                }
              }

              .info-container {
                margin-left: 0px;
                margin-top: -100px;
              }

              .content-container {
                display: block;
                margin-left: 0px;
                margin-top: 0px;
                padding-left: 0px;
                padding-top: 0px;

                .content-margin {
                  display: none;
                }

                .categories {
                  display: none;
                }
                .text {
                  @include postQuote($black-color, 30px, 30px, 20px);

                  display: block;
                  font-size: 15px;
                  margin-right: 0px;
                  padding-top: 20px;
                  padding-left: 15px;
                  padding-right: 15px;
                }
              }

              .signature-container {
                margin-left: 0px;

                .picture-container {
                  display: block;
                  padding: 30px 25px 25px 15px;
                  vertical-align: top;
                  width: 100%;

                  .picture {
                    display: inline-block;
                    margin: 0px 20px 0px 0px;
                    vertical-align: top;
                  }

                  .signature-text-container {
                    display: inline-block;
                    left: auto;
                    padding-top: 10px;
                    top: auto;
                    vertical-align: top;
                  }
                }

                .author-description-container {
                  display: block;
                  padding: 0px 20px 0px 15px;
                }
              }

              .comments-container {
                margin-left: 0px;
                padding: 40px 15px 0px 15px;

                .title {
                  font-size: 1.1em;
                }

                .comment-container {

                  .comment-replay-block {
                    margin-left: 0px;
                    margin-top: 40px;
                  }
                }

                .new-comment-container {

                  .comment-form {

                    .send-button-container {
                      margin-left: 0px;
                      text-align: center;

                      .button {
                        font-size: 0.75em;
                        font-weight: 800;
                        height: 40px;
                        width: 160px;
                      }
                    }
                  }
                }
              }

              .related-container {
                margin: 60px 15px 100px 15px;

                .related-posts-container {

                  .linked-post-left {
                    display: block;
                    padding: 10px 0px 10px 0px;
                  }

                  .linked-post-center {
                    display: block;
                    padding: 10px 0px 10px 0px;
                  }

                  .linked-post-right {
                    display: block;
                    padding: 10px 0px 10px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Medium screens */
@media all and (max-width: 600px) {
  html, body {
    #flex-wrapper {
      #center-element {
        #center-flex-wrapper {

          #content {

            #post-content {

              .title-container {

                .image-container {

                  .title {
                    width: 93%;

                    .title-text {
                      font-size: 24px;
                      padding-left: 40px;
                      padding-right: 30px;
                    }
                  }
                }
              }

              .info-container {
                margin-left: 0px;
                text-align: center;

                .item-container {
                  display: inline-block;
                  text-align: left;
                  width: 35%;
                }
              }

              .signature-container {

                .picture-container {
                  padding: 30px 25px 25px 30px;
                }
              }

              .comments-container {

                .new-comment-container {

                  .comment-form {

                    .content-container {

                      .input-class {
                        width: 100%;
                      }

                      .input-textarea {
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .two-column-container {
                .two-column-left {
                  display: table;
                  width: 100%;
                }

                .two-column-right {
                  display: table;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}