{% extends 'Layout/BaseLayout.html.twig' %}

{% block body %}
    <div id="content">
        <div id="post-content">

            <div class="title-container">

                <div class="categories">
                    <div class="vertical-text-container">
                        <span class="category blue">Agile</span>
                        <span class="category pink">Scrum</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="image-container">
                    <img class="image"
                         src="{{ asset('build/assets/images/posts/002-agile-to-be-or-not-to-be/post-image.jpg') }}">

                    {#{{ include('AlexAgileFrontBundle:Component:Social.html.twig') }}#}
                </div>

            </div>

            <div class="title">
                <div class="title-container">
                    Agile, to be or not to be...
                </div>
            </div>

            <div class="info-container">
                <div class="item-container">
                    <div class="icon date"></div>
                    <div class="text">January 27th, 2019</div>
                </div>
                {#<div class="item-container">#}
                {#<div class="icon comments"></div>#}
                {#<div class="text">77 comments</div>#}
                {#</div>#}
                {#<div class="item-container">#}
                {#<div class="icon views"></div>#}
                {#<div class="text">2.056 views</div>#}
                {#</div>#}
                {#<div class="item-container">#}
                {#<div class="icon shared"></div>#}
                {#<div class="text">50 shares</div>#}
                {#</div>#}
            </div>

            <div class="content-container">

                <div class="content-margin"></div>

                <div class="categories">
                    <div class="vertical-text-container">
                        <span class="category blue">Agile</span>
                        <span class="category pink">Scrum</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="text">
                    I still remember the times of the Gantt diagrams. Maybe you never saw those but it was very common in big companies. A big project planned for months or years, with a couple of deadlines every several months and a lot of useless overwork and stress when the deadlines started being close.
                    <br>
                    Depending on how much the manager did care about the project she would start to demand overwork sooner or later. In any case, it never worked out.
                    <br><br>
                    Then companies started moving into Agile methodologies implementing frameworks like Scrum or Kanban. Sometimes because one team member had heard or read about its great benefits, playing the apprentice Scrum Master role, other times hiring expensive specialists like professional Scrum Masters or Agile Coaches.
                    <br><br>
                    I have seen too many times companies investing a lot of money in setting up the Agile ecosystem. They Arranging standups, planning meetings, retros, etc. They checked every couple of weeks how things were going and, after the first three or four months, most of the times nothing big had changed. Deliverables kept being delayed, the teams looked like spending long hours in meetings, no big changes in productivity and, every iteration, people were complaining about the same things, again and again.
                    <br><br>
                    As Lyssa Adkins says, it doesn’t take long before we start feeling like trapped into a never-ending hamster wheel, always moving from one meeting to the next one and from one sprint to the next one.
                    <br><br>
                    So, if this is how to be Agile looks like… why do companies invest in it? I have asked this question several times already and, unfortunately, I have realized that too many times, the answer is that they don’t really know why.

                    <div class="post-quote">
                        Why do companies invest in Agile? I have realized that too many times, the answer is that companies don’t really know why.
                    </div>

                    I remember the answer I got when I asked this question to the Chief Product Officer in one of the companies I have worked for. “The most successful companies like Google or Amazon are Agile so it looks like the direction to follow”.
                    <br>
                    In one hand, I was scared. We were doing something we didn’t know why. On the other hand, I also felt some relief, we didn’t know how to organize our software development processes but, at least, we were copying from the best ones. I suppose this was, at least, something.
                    <br><br>
                    But then, why do these big companies want to be Agile? And why do we want to be Agile again?
                    <br><br>
                    To answer this question we need to look into the origins of the Agile frameworks and the Agile Manifesto. All of them started as a reaction to the Waterfall methodology.
                    <br><br>
                    Waterfall methodology, for software development, was the idea of having a sequential number of phases in a project, one following the previous one and depending on that one too. For each of these phases, deadlines would be set up at the beginning of the whole project.
                    <br>
                    For example, the phases could be design, implementation, and testing. The design could be started in January, the implementation in March after design would be finished, and the testing in September, just after the implementation would be completed.
                    <br>
                    If everything would follow the plan, we would have a flaming project completed by the end of the testing phase in October.
                    <br><br>
                    Do anyone else see the pitfall here? What if any of these phases gets delayed? It will delay the next one, right? But what if, during testing, we discover a design error? We need to start over everything.
                    <br><br>
                    Even if you can’t believe it, this has been commonly accepted as the best software manufacturing process and studied in colleges for more than fifty years, for some of us quite longer, for other ones still valid.
                    <br><br>
                    In one sentence, the consequences of Waterfall were delays in software delivery. Some of these projects were delayed more than double or triple of the initial plan. Another consequence was the high over-costs in the projects too, for some of them even more than ten times what was initially planned.
                    <br>
                    This has been happening more often than you could imagine and, the worse part is that, after being delayed for months or years, a lot of these projects weren’t useful anymore.
                    <br>
                    Imaging yourself investing millions of dollars in something that would arrive so late and, maybe, so different than what you really needed, that you would never be able to use it, but you have paid for it.
                    <br>
                    Jeff Sutherland books, co-creator of Scrum, are plenty of examples about this kind of projects.
                    <br><br>
                    Most of the Agile frameworks started as a reaction to the Waterfall approach. These frameworks were aiming to deliver in time and budget. Just, to be predictable as an industry.
                    <br><br>
                    The how to achieve this is by delivering working software fast. But not only software, the most valuable software possible every several weeks.

                    <div class="post-quote">
                        The purpose of the Agile frameworks is to deliver the most valuable and highest quality software as fast as possible. To learn from it and repeat.
                    </div>

                    Look for the most promising piece of your idea, the smallest one that contains the biggest value possible for your customers. Design, build, and test it as fast as you can. It doesn’t need to be perfect, but it needs to make customers either happy or either make them realize that this is not what they needed. It is a lot better to discover this after a couple of weeks than after several months… or years.
                    <br><br>
                    If you are able to put new functionality on your customer's hands every several weeks and you can learn from their feedback to improve the product fast, then and only then, you will be doing real Agile.
                    <br><br>
                    So, why can we fail when implementing Agile? Because we miss its goal, we miss its purpose.
                    <br><br>
                    If we think in Scrum, for instance, the goal uses to be Scrum itself. Once all the roles have been assigned and the events scheduled we think we are done. We just need to have a Scrum Master, Product Owner, Plannings, Daily Scrums, Reviews, and Retros but we don’t care if we are doing this well or not because, if we lack a goal, we can’t evaluate if we are doing it well or not.
                    <br><br>
                    Let’s just think about the retrospectives, for example. What is their purpose? To improve, right? How do we achieve that? By inspecting our process and adapting the parts that aren’t working properly. Am I right?
                    <br>
                    Have you ever been in any Groundhog Day retrospective? A retrospective in which you felt you have already discussed the same things tens of times? The problem with the retrospectives is that, if we don’t take action, the problems won’t get fixed themselves. To run the retrospective is not enough, we need to act if we want to improve.
                    <br><br>
                    How can the results of an Agile framework be achieved?
                    <br><br>
                    The answer is simple, be sure the team, every individual, doesn’t lose the focus on delivering value every Sprint. If they need more than one Sprint to deliver new functionality the piece is too big. They need to give up something. They need to think on the most valuable part of what they are trying to deliver and focus only on that.
                    <br><br>
                    And, how can your teams be able to consistently deliver value every iteration? Your teams need to become hyper-productive.
                    <br><br>
                    A hyper-productive team is a fully functional, motivated, committed and happy team. This is not something that can be achieved overnight. To transform a team in a hyper-productive team is an iterative process. It takes time and effort. The team needs to be free of dysfunctions as Patrick Lencioni mentions in his book The Five Dysfunctions of a Team. This is the base to motivate the team what will generate commitment and happiness.
                    <br><br>
                    Hyper-performing teams are very powerful. They deliver fast but they also have very high standards. They deliver high-quality products, improve over time and are able to react to change immediately, making their organizations more competitive.
                    <br><br>
                    But, what is the price of hyper-performing teams? Are those more expensive than a normal team? Are those made of the legendary software engineers at Google or Amazon?
                    <br>
                    The answer is actually not. These teams don’t cost any single dollar more than your current teams.
                    <br>
                    They are just normal individuals working in a healthy environment with a clear direction, enough autonomy, and full cross-functionality.
                    <br>
                    The expected performance of a hyper-performance team is, at least, for times the performance of a relatively competent team what means having four times your development workforce at the same price. Is it worth to try?
                    <br><br>
                    I have seen several hyper-performance teams in my career. It isn’t a magic team, even if sometimes this is how it looks like. These aren’t made out of special people, just committed software engineers like any other ones. It isn’t hard to create these teams, the process is always the same but it takes time and an Agile mindset.
                    <br><br>
                    Give it a try. Look for a good Scrum Master and discover how to make it happen. Make all your business dreams true at a quarter of the price.

                    <br><br>
                    <br><br>
                </div>

            </div>

            {#<div class="signature-container">#}

            {#<div class="picture-container">#}
            {#<div class="picture" style="background-image: url('../../build/assets/images/posts/authors/alex-agile.jpg');"></div>#}
            {#<div class="signature-text-container">#}
            {#<div class="written-by">Written by</div>#}
            {#<div class="author">Alejandro Barba</div>#}
            {#</div>#}
            {#</div#}

            {#><div class="author-description-container">#}
            {#<div class="author-description">#}
            {#Lorem ipsum dolor sit amet.<br>#}
            {#adipiscing elit dolor sit ametdolor sit amet.<br>#}
            {#Lorem ipsum dolor sit amet amet.#}
            {#</div>#}
            {#<div class="author-links">#}
            {#Follow Alejandro on#}
            {#<span class="link">Facebook</span>,#}
            {#<span class="link">Twitter</span>,#}
            {#<span class="link">Instagram</span>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}

            {#<div class="comments-container">#}

            {#<div class="title">Comments</div>#}

            {#<div class="comment-container">#}

            {#<div class="comment-block">#}
            {#{% include 'AlexAgileFrontBundle:Component:PostCommentBlock.html.twig' with {#}
            {#'picture': '../../build/assets/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'pineipol',#}
            {#'date': '2 hours ago',#}
            {#'content': 'Enhorabuena por tu blog, Alejandro!! Me ha encantado toda la serie sobre Scrum. ¿Cuando podremos empezar a ver estas cosas aplicadas en algún proyecto?',#}
            {#'link': 'reply',#}
            {#'onReplyTo': ''#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-replay-block">#}
            {#{% include 'AlexAgileFrontBundle:Component:PostCommentBlock.html.twig' with {#}
            {#'picture': '../../build/assets/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'Alejandro Barba',#}
            {#'date': '3 hours ago',#}
            {#'content': 'Hola Pineipol, la próxima serie de posts, que será más corta que ésta, tratará sobre cómo montar un servidor completo en Amazon Web Services, paso previo a empezar con nuestro primer proyecto Agile. Paciencia, ya mismo empezamos!!',#}
            {#'link': 'reply',#}
            {#'onReplyTo': 'pineipol'#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-replay-block">#}
            {#{% include 'AlexAgileFrontBundle:Component:PostCommentBlock.html.twig' with {#}
            {#'picture': '../../build/assets/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'Alejandro Barba',#}
            {#'date': '3 hours ago',#}
            {#'content': 'Hola Pineipol, la próxima serie de posts, que será más corta que ésta, tratará sobre cómo montar un servidor completo en Amazon Web Services, paso previo a empezar con nuestro primer proyecto Agile. Paciencia, ya mismo empezamos!!',#}
            {#'link': 'reply',#}
            {#'onReplyTo': 'pineipol'#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-block">#}
            {#{% include 'AlexAgileFrontBundle:Component:PostCommentBlock.html.twig' with {#}
            {#'picture': '../../build/assets/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'pineipol',#}
            {#'date': '2 hours ago',#}
            {#'content': 'Enhorabuena por tu blog, Alejandro!! Me ha encantado toda la serie sobre Scrum. ¿Cuando podremos empezar a ver estas cosas aplicadas en algún proyecto?',#}
            {#'link': 'reply',#}
            {#'onReplyTo': ''#}
            {#} %}#}
            {#</div>#}

            {#</div>#}

            {#<div class="new-comment-container">#}

            {#<form method="post" class="comment-form">#}
            {#<div class="picture-container">#}
            {#<div class="picture-input" style="background-image: url('');"></div>#}
            {#</div>#}

            {#<div class="content-container">#}

            {#<div class="name-input-container">#}
            {#<input name="name-input" class="input-class input-text" placeholder="Your name">#}
            {#</div>#}

            {#<div class="email-input-container">#}
            {#<input name="email-input" class="input-class input-text" placeholder="Your email">#}
            {#</div>#}

            {#<div class="comment-input-container">#}
            {#<textarea name="comment-input" class="input-class input-textarea" placeholder="Your comment"></textarea>#}
            {#</div>#}

            {#</div>#}

            {#<div class="send-button-container">#}
            {#<input type="submit" value="send" class="button">#}
            {#</div>#}
            {#</form>#}
            {#</div>#}

            {#</div>#}

            {#<div class="related-container">#}

            {#<div class="title-container">#}
            {#<div class="title">#}
            {#Read more#}
            {#</div>#}
            {#<div class="line"></div>#}
            {#</div>#}

            {#<div class="related-posts-container">#}
            {#<div class="linked-post-left">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#<div class="linked-post-center">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#<div class="linked-post-right">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#</div>#}

            {#</div>#}
        </div>

    </div>
{% endblock %}