{% extends 'Layout/BaseLayout.html.twig' %}

{% block body %}
    <div id="content">
        <div id="post-content">

            <div class="title-container">

                <div class="categories">
                    <div class="vertical-text-container">
                        <span class="category blue">Agile</span>
                        <span class="category pink">Scrum</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="image-container">
                    <img class="image"
                         src="{{ asset('build/assets/images/posts/003-the-biggest-enemy-to-hyper-performance-teams-is-you/post-image.jpg') }}">

                    {#{{ include('Layout/Component/Social.html.twig') }}#}
                </div>

            </div>

            <div class="title">
                <div class="title-container">
                    The biggest enemy of hyper-performance is you
                </div>
            </div>

            <div class="info-container">
                <div class="item-container">
                    <div class="icon date"></div>
                    <div class="text">February 24th, 2019</div>
                </div>
                {#<div class="item-container">#}
                {#<div class="icon comments"></div>#}
                {#<div class="text">77 comments</div>#}
                {#</div>#}
                {#<div class="item-container">#}
                {#<div class="icon views"></div>#}
                {#<div class="text">2.056 views</div>#}
                {#</div>#}
                {#<div class="item-container">#}
                {#<div class="icon shared"></div>#}
                {#<div class="text">50 shares</div>#}
                {#</div>#}
            </div>

            <div class="content-container">

                <div class="content-margin"></div>

                <div class="categories">
                    <div class="vertical-text-container">
                        <span class="category blue">Agile</span>
                        <span class="category pink">Scrum</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="text">
                    It isn’t an easy thing to admit. My team could be doing better. I could be doing better.
                    <br>
                    There is even a magic quote that sometimes gives us space to look forward to the future but, other times is just an excuse to justify lack of commitment or even failure: “we assume each of us is doing the best she can do based on her current knowledge and circumstances”.

                    <div class="post-quote">
                        There is a magic quote that can be used as an excuse to justify failure: “we assume each of us is doing the best she can do based on her current knowledge and circumstances”.
                    </div>

                    We put a lot of effort in everything we do. We do what we firmly believe is the best that can be done at any given moment. Is it enough in terms of effort? Is it enough in terms of smart work? And the answer, based on our current knowledge and circumstances, is probably yes, it is enough.
                    <br><br>
                    The problem is that, what is “good enough” for our current knowledge and circumstances, could be far from enough for other one’s knowledge and circumstances. Maybe another person could achieve the same results and goals with no effort at all.
                    <br><br>
                    Let’s think on an example. Try to compare yourself to the first time that you were trying to learn how to drive a car. How hard was for you to be able to pay attention to all the things that you needed to consider to be able to drive the car from one point to another? Clutch, gears, arrows, mirrors, signals, other cars… And what about now? Just trivial, right? But you were doing your best at that time, again, based on your knowledge and circumstances.
                    <br><br>
                    We, as good professionals, always try to do our best in everything we attempt, one more time, based on our circumstances. The problem is that sometimes our circumstances will make the task easier or harder for us compared to other people with different circumstances. When things are easier for us or we have more knowledge than the other person we try to teach. When things are harder or we have less knowledge than the other person is time for learning but, are we willing to it?
                    <br><br>
                    Let’s move to Agile ground and teams. It is there where things get complicated.
                    <br><br>
                    You are part of a team and you and your colleagues are doing well. You manage to deliver stuff, you have a good relationship with your colleagues, of course, you like some more than others but that is completely normal. You need to handle one or two bugs from time to time but nothing far from normal. Your team keeps a process that allows you to handle daily challenges in kind of an automated way. You all know what to do and why. Some processes are a bit cumbersome but you are taking care of those since long time ago and you master them already.
                    <br><br>
                    Then, all of a sudden, a new character jumps into the scenario and starts questioning some of the things you all do. She thinks you waste time in manual and repetitive processes and she doubts that you are getting the best out of your work. She thinks some things can be done different, she thinks you guys could do better.
                    <br><br>
                    The first thing that comes to your mind is that she doesn’t have the full context. She doesn’t know the reasons that made us approach things the way we do. She isn’t fully aware of the problem that we are solving.
                    <br><br>
                    What actually happens, a lot of times is that we aren’t really aware of how used we are to our old habits. We don’t know that she succeeded on things in which we failed and we just think that the problem can’t be solved. Simple as that.
                    <br><br>
                    When those problems are related to technology, resistance makes sense only until it is proven that a better way exists. That is the funny part about technology, things can be proven.
                    <br>
                    But when it comes to processes everyone is a master. We all like to do things in our own way and we all think our own way is the best one because is the one that allows us to keep things under control, to stay comfortable.
                    <br><br>
                    To be able to better understand what I’m talking about we need to zoom out. We need to look at the bigger picture.
                    <br><br>
                    We learn. We didn’t know Agile when we were kids. We didn’t know how to code just after birth. We know more things now than six months ago, right? That means that we improve. We learn and we improve. And we do that during our whole life, right? So, who says that we can not learn anymore, that myself in the future isn’t going to know more than the current one?
                    <br>
                    We need to embrace the reality of learning and improving. We need to realize that we aren’t done yet, we will learn, and the easiest and fastest way to do it is by learning from the people around us.

                    <div class="post-quote">
                        'We need to realize that we aren’t done yet, we learn and improve, and the easiest and fastest way to do it is by learning from the people around us.'
                    </div>

                    And what is more important, especially in an Agile context. Things that didn’t work out for us in the past could have worked out for other people in different circumstances, and those are the ones we need to listen to because we have learned from our mistakes and failures things we should not repeat, but they learned from their successes. They managed to succeed where we failed and they can explain to us why.
                    <br><br>
                    Do you want to become part of a hyper performant team? The first lesson you need to learn is that you need to improve because hyper performant teams are always improving, they can always do and be better so there is never a “good enough” status. Open your mind and listen to anyone that gives you new ideas because some of those could be the key to your next qualitative jump forward.
                    <br><br>
                    Every time you will find yourself saying any of these sentences: we don’t need to try that, we don’t need to implement that, we don’t need to put in practice that, we have already tried that but it didn’t work for us, what is the problem you are trying to solve? we are doing well enough...
                    <br>
                    Doublethink yourself, maybe it is the time to open your mind and look forward to the next version of yourself and your team.

                    <br><br>
                    <br><br>
                </div>

            </div>

            {#<div class="signature-container">#}

            {#<div class="picture-container">#}
            {#<div class="picture" style="background-image: url('../../bundles/alexagilefront/images/posts/authors/alex-agile.jpg');"></div>#}
            {#<div class="signature-text-container">#}
            {#<div class="written-by">Written by</div>#}
            {#<div class="author">Alejandro Barba</div>#}
            {#</div>#}
            {#</div#}

            {#><div class="author-description-container">#}
            {#<div class="author-description">#}
            {#Lorem ipsum dolor sit amet.<br>#}
            {#adipiscing elit dolor sit ametdolor sit amet.<br>#}
            {#Lorem ipsum dolor sit amet amet.#}
            {#</div>#}
            {#<div class="author-links">#}
            {#Follow Alejandro on#}
            {#<span class="link">Facebook</span>,#}
            {#<span class="link">Twitter</span>,#}
            {#<span class="link">Instagram</span>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}

            {#<div class="comments-container">#}

            {#<div class="title">Comments</div>#}

            {#<div class="comment-container">#}

            {#<div class="comment-block">#}
            {#{% include 'Layout/Component/PostCommentBlock.html.twig' with {#}
            {#'picture': '../../bundles/alexagilefront/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'pineipol',#}
            {#'date': '2 hours ago',#}
            {#'content': 'Enhorabuena por tu blog, Alejandro!! Me ha encantado toda la serie sobre Scrum. ¿Cuando podremos empezar a ver estas cosas aplicadas en algún proyecto?',#}
            {#'link': 'reply',#}
            {#'onReplyTo': ''#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-replay-block">#}
            {#{% include 'Layout/Component/PostCommentBlock.html.twig' with {#}
            {#'picture': '../../bundles/alexagilefront/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'Alejandro Barba',#}
            {#'date': '3 hours ago',#}
            {#'content': 'Hola Pineipol, la próxima serie de posts, que será más corta que ésta, tratará sobre cómo montar un servidor completo en Amazon Web Services, paso previo a empezar con nuestro primer proyecto Agile. Paciencia, ya mismo empezamos!!',#}
            {#'link': 'reply',#}
            {#'onReplyTo': 'pineipol'#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-replay-block">#}
            {#{% include 'Layout/Component/PostCommentBlock.html.twig' with {#}
            {#'picture': '../../bundles/alexagilefront/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'Alejandro Barba',#}
            {#'date': '3 hours ago',#}
            {#'content': 'Hola Pineipol, la próxima serie de posts, que será más corta que ésta, tratará sobre cómo montar un servidor completo en Amazon Web Services, paso previo a empezar con nuestro primer proyecto Agile. Paciencia, ya mismo empezamos!!',#}
            {#'link': 'reply',#}
            {#'onReplyTo': 'pineipol'#}
            {#} %}#}
            {#</div>#}

            {#<div class="comment-block">#}
            {#{% include 'Layout/Component/PostCommentBlock.html.twig' with {#}
            {#'picture': '../../bundles/alexagilefront/images/posts/authors/alex-agile.jpg',#}
            {#'title': 'pineipol',#}
            {#'date': '2 hours ago',#}
            {#'content': 'Enhorabuena por tu blog, Alejandro!! Me ha encantado toda la serie sobre Scrum. ¿Cuando podremos empezar a ver estas cosas aplicadas en algún proyecto?',#}
            {#'link': 'reply',#}
            {#'onReplyTo': ''#}
            {#} %}#}
            {#</div>#}

            {#</div>#}

            {#<div class="new-comment-container">#}

            {#<form method="post" class="comment-form">#}
            {#<div class="picture-container">#}
            {#<div class="picture-input" style="background-image: url('');"></div>#}
            {#</div>#}

            {#<div class="content-container">#}

            {#<div class="name-input-container">#}
            {#<input name="name-input" class="input-class input-text" placeholder="Your name">#}
            {#</div>#}

            {#<div class="email-input-container">#}
            {#<input name="email-input" class="input-class input-text" placeholder="Your email">#}
            {#</div>#}

            {#<div class="comment-input-container">#}
            {#<textarea name="comment-input" class="input-class input-textarea" placeholder="Your comment"></textarea>#}
            {#</div>#}

            {#</div>#}

            {#<div class="send-button-container">#}
            {#<input type="submit" value="send" class="button">#}
            {#</div>#}
            {#</form>#}
            {#</div>#}

            {#</div>#}

            {#<div class="related-container">#}

            {#<div class="title-container">#}
            {#<div class="title">#}
            {#Read more#}
            {#</div>#}
            {#<div class="line"></div>#}
            {#</div>#}

            {#<div class="related-posts-container">#}
            {#<div class="linked-post-left">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#<div class="linked-post-center">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#<div class="linked-post-right">#}
            {#Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog.#}
            {#</div>#}
            {#</div>#}

            {#</div>#}
        </div>

    </div>
{% endblock %}