<!-- Section -->
<div class="gfort-section white-bg-color gfort-pt-0 gfort-pb-0 gfort-bg-position-center-center" id="Hero">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center justify-content-center gfort-section-100vh gfort-pt-72 gfort-pb-72">


            <!-- col-xl-12 -->
            <div class="col-xl-12 col-lg-7">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>I have received your application. I'll be back to you as soon as possible.</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-none d-md-block"></div>


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('home') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Home</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

</div><!-- /End Section -->
