<div class="navigation-container">
    <div class="link-container">
        <div class="bullet blue-bullet"></div>
        <a href="{{ path('home') }}" class="link">Agile</a>
    </div>
    <div class="link-container">
        <div class="bullet pink-bullet"></div>
        <a href="{{ path('home') }}" class="link">Scrum</a>
    </div>
    {#<div class="link-container">#}
        {#<div class="bullet green-bullet"></div>#}
        {#<a href="#" class="link">Lean</a>#}
    {#</div>#}
    {#<div class="link-container">#}
        {#<div class="bullet purple-bullet"></div>#}
        {#<a href="#" class="link">Arquitecture</a>#}
    {#</div>#}

    <div class="link-separator"></div>

    <div class="link-container">
        <a href="{{ path('about') }}" class="link dark-link">About me</a>
    </div>
    {#<div class="link-container">#}
        {#<a href="#" class="link dark-link">Contact</a>#}
    {#</div>#}
</div>