/* Desktop */
html, body {
  #flex-wrapper {
    #center-element {
      #center-flex-wrapper {

        #mobile-menu {
          display: none;
        }
      }
    }
  }
}

$mobile-menu-height: 350px;

/* Large screens */
@media all and (max-width: 1040px) {
  html, body {
    #flex-wrapper {
      #center-element {
        #center-flex-wrapper {

          #mobile-menu {
            @include flex(0 0 80px);
            background-color: $gray-menu-color;
            display: block;
            position: relative;

            #toggle-menu-container {
              cursor: pointer;
              display: inline-block;
              height: 80px;
              padding-top: 35px;
              padding-left: 20px;
              vertical-align: top;
              width: 65px;

              .line {
                background-color: $gray-menu-text-color;
                height: 3px;
                margin-bottom: 4px;
                width: 25px;
              }
            }

            .title-container {
              display: inline-block;
              margin-top: 24px;
              position: absolute;
              right: 20px;

              .logo {
                background-image: url("../../images/menu/logo/logo-mobile.jpg");
                display: inline-block;
                height: 25px;
                margin-right: 3px;
                margin-top: 4px;
                vertical-align: top;
                width: 25px;
              }

              .title {
                color: $gray-menu-text-color;
                display: inline-block;
                font-family: 'Catamaran', sans-serif;
                font-style: normal;
                font-size: 20px;
                font-weight: 900;
                line-height: 1.2em;
                margin-top: 5px;
                vertical-align: top;
              }
            }

            #mobile-menu-wrapper {
              background-color: $gray-menu-color;
              display: none;
              height: $mobile-menu-height;
              left: 0;
              margin: 0;
              position: absolute;
              top: 80px;
              width: 100%;
              z-index: 10;
              -webkit-backface-visibility: hidden;
              -webkit-perspective: 1000;

              .navigation-container {
                margin-top: 20px;
                margin-left: 25px;
                margin-right: 25px;

                .link-container {
                  margin-top: -5px;

                  .bullet {
                    display: inline-block;
                    height: 3px;
                    margin-top: 17px;
                    vertical-align: top;
                    width: 7px;
                  }

                  .red-bullet {
                    background-color: $red-bullet-color;
                  }

                  .yellow-bullet {
                    background-color: $yellow-bullet-color;
                  }

                  .green-bullet {
                    background-color: $green-bullet-color;
                  }

                  .blue-bullet {
                    background-color: $blue-bullet-color;
                  }
                }

                .link-separator {
                  height: 45px;
                }

                .bottom-link-container {
                  bottom: 10px;
                  font-size: 4px;
                  left: -0px;
                  position: fixed;
                  text-align: center;
                  width: 100%;
                }

                .link {
                  @include link ($gray-menu-text-color, $gray-menu-text-color, $gray-dark-menu-text-color, $gray-menu-text-color);
                  display: inline-block;
                  font-family: 'Catamaran', sans-serif;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 300;
                  margin-left: 25px;
                  vertical-align: top;
                }

                .dark-link {
                  @include link ($gray-dark-menu-text-color, $gray-dark-menu-text-color, $white-color, $gray-dark-menu-text-color);
                  margin-left: 36px;
                }

                .bottom-link {
                  font-size: 14px;
                  padding: 0;
                  margin: 0;
                }
              }

              .social-icons-container {
                @include socialIcons(60px, 30px);
              }
            }
          }
        }
      }
    }
  }
}

/* Medium screens */
@media all and (max-width: 600px) {
  html, body {
    #flex-wrapper {
      #center-element {
        #center-flex-wrapper {
          #mobile-menu {
          }
        }
      }
    }
  }
}
