<!-- Section -->
<div class="gfort-section gfort-section-2x -padding gfort-pt-0 grey-1-bg-color" id="Origin">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gfort-flex-row-reverse align-items-center">


            <!-- GAP -->
            <div class="gfort-gap gfort-gap-36"></div>


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/saboteurs/neuroscience/neuroscience.jpg" alt="Team Coaching" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2><br><br>
                                    The neuroscience of the self-saboteurs and its origin
                                </h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>If you don’t learn how to stop them now the self-saboteurs will become an automatic process of your mind.</p>
                                <p>Learn how neuroplasticity contributes to the formation of habits and how this perseveres the mechanisms that create the self-saboteurs in your mind.</p>
                                <p>Discover the additional mechanism of the brain that deeply hides the self-saboteurs and it is preventing you from becoming aware of them.</p>
                                <p>Discover how this mechanism prevents any new ideas that could stop the damaging impact of the self-saboteurs in your organization and your life.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-24"></div>
            </div><!-- /End col-lg-12 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="javascript:;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" onclick="ml_webform_2428495('show')">Get The Saboteurs Free eBook</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->