<!-- Section -->
<div class="gfort-section gfort-section-3x-padding grey-1-bg-color" id="Storytelling">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>I was clueless about how my self-saboteurs were ruling my life, the same as yours!</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>One year after I graduated from engineering school I started my own shiny company as a Web designer.</p>
                                <p>In order to visit clients, I needed a car. All my friends got themselves Seat, Ford, Peugeot, or similar cars.</p>
                                <p>It wasn’t good enough for me. I wanted a BMW, that was the kind of car an entrepreneur would have. I ask my parents to lend me a lot of money to buy the BMW.</p>
                                <p>Whenever I would be visiting a client I would make sure that I would park the car just in front of the business windows so they would be able to see that I owned a BMW.</p>
                                <p>Later, when I would be at the manager’s office, I would put my key, with a big shine BMW keyring on top of his table.</p>
                                <p>I’m still asking myself, how does the car code any HTML?</p>
                                <p>I was painfully asking my car to cover myself for my lack of self-confidence.</p>
                                <p>My self-saboteurs were ruthlessly putting me out of the driving seat!</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6" style="text-align: center">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/saboteurs/storytelling/storytelling.jpg" alt="Alex Barba - Leadership Coach for Tech Organizations" class="gfort-width-auto "/>
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->

            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-24"></div>
            </div><!-- /End col-lg-12 -->

            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="javascript:;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" onclick="ml_webform_2428495('show')">Get The Saboteurs Free eBook</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom white-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->

</div><!-- /End Section -->
