<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="Strategies">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>The saboteurs’ strategies</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p>Discover the 10 dangerous saboteur strategies we most fall into and expose the entangled lies that support the saboteurs.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Block -->
                <div class="gfort-block">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body">

                            <!-- Block content -->
                            <div class="gfort-block-content">

                                <ul class="">
                                    <li>
                                        <span style="font-weight: bold">The Judge</span>
                                        <br>
                                        Focuses on the negative things only.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Stickler</span>
                                        <br>
                                        There is only one optimal way to do things.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Hyper-Rational</span>
                                        <br>
                                        The rational mind is the most important kind of intelligence.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Avoider</span>
                                        <br>
                                        No good comes out of conflict.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Pleaser</span>
                                        <br>
                                        The world would be a better place if everyone would do the same.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Hyper-Vigilant</span>
                                        <br>
                                        Life is full of dangers.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Hyper-Achiever</span>
                                        <br>
                                        Life is about achieving results.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Victim</span>
                                        <br>
                                        I at least get some of the attention I deserve.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Controller</span>
                                        <br>
                                        If I don’t control, I will be controlled.
                                    </li>
                                    <li>
                                        <span style="font-weight: bold">The Restless</span>
                                        <br>
                                        Life is too short. It must be lived fully.
                                    </li>
                                </ul>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Block -->


            </div><!-- /End col-lg-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6" style="text-align: center">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center" style="vertical-align: middle">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head" style="padding-top: 20px">
                            <img src="/new-assets/images/saboteurs/strategies/strategies.png" alt="Alex Barba - Leadership Coach for Tech Organizations" class="gfort-width-auto"/>
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="/documents/The-massive-strike-of-the-inner-saboteurs-in-your-organization.pdf" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" target="_blank">Get The Saboteurs Booklet Now</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->

        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->