<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="Strategies">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Get the Saboteurs Free eBook</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-6 -->
            <div class="col-lg-6">


                <!-- Block -->
                <div class="gfort-block">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body">

                            <!-- Block content -->
                            <div class="gfort-block-content">

                                <p>Would you like to learn more about the saboteurs and how to stop them from manipulating you and your organization?</p>
                                <p style="font-weight: bold">Get the Saboteurs Free eBook and discover how to start empowering your organization.</p>
                                <p>In the Saboteurs Free eBook, you will discover:</p>

                                <ul class="">
                                    <li>What the dangerous saboteurs are and how they exactly work behind your radar.</li>
                                    <li>How they painfully manipulate you and your colleagues and what is their massive impact in the workplace.</li>
                                    <li>The 10 different self-destructive strategies in which the Saboteurs make us constantly and unconsciously fall.</li>
                                    <li>The silent way in which the saboteurs were created in our minds and how the neuroscience supports it.</li>
                                    <li>The reason that makes it almost impossible to get rid of them.</li>
                                    <li>How they hide and what makes it so hard to discover their presence.</li>
                                    <li>5 unique bullet-proof techniques to weaken their impact and prevent from their manipulation.</li>
                                </ul>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Block -->


            </div><!-- /End col-lg-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/saboteurs/strategies/strategies.png" alt="Alex Barba - Leadership Coach for Tech Organizations" class="gfort-width-auto"/>
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="javascript:;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" onclick="ml_webform_2428495('show')">Get The Saboteurs Free eBook</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->

        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->