<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="Testimonials">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>What Clients Are Saying</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Michelle Delport</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">Leading female entrepreneurs to overcome self-doubt, uncertainty and insecurity</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 381px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "I found Alex's webinar on Saboteurs very insightful. I was quickly able to identify my limiting beliefs."
                                    </span>
                                </p>
                                <p>I recently had the pleasure to attend Alex's webinar on Saboteurs. I found it very
                                    insightful and enjoyed the process. Through his explanation, I was quickly able
                                    to identify my limiting beliefs and see the potential in having a different approach
                                    to problem-solving and achieving better results. Alex guided me gently through the
                                    process, allowed me to pose questions, and made it easy to follow along.
                                    I can highly recommend Alex.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Nicoline Huizinga</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">Visibility Strategist for Solopreneurs</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 381px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "The awareness on the Saboteurs will be key to my future success."
                                    </span>
                                </p>

                                <p>From the very start of the session, I felt something great was about to happen.
                                    Alex helped me to see what I hadn't seen so far, and his observations and explanations
                                    gave me many lightbulb moments. He also helped me to connect the dots and he highlighted
                                    ways to deal with my personal saboteurs. I now recognise the little negative voice in my head
                                    as one of my saboteur's voices and I know how to deal with those successfully. This
                                    awareness will be key to my future success.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Testimonials block -->
                <div class="gfort-block gfort-block-boxed gfort-block-testimonials gfort-block-testimonials-layout-1 white-bg-color grey-2-border-color gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-testimonials-head">

                            <!-- Name / Role -->
                            <div class="gfort-block-testimonials-name-role">
                                <span class="h5 gfort-block-testimonials-name">Catherine Macquart-Martin</span>
                                <span class="h6 gfort-block-testimonials-role font-weight-500 accent-color">Diversity and Inclusion Promoter</span>
                            </div><!-- /End Name / Role -->

                        </div><!-- /End Block head -->


                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-testimonials-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-testimonials-content" style="min-height: 431px;">
                                <p>
                                    <span class="gfort-block-testimonials-name font-weight-500" style="font-style: italic">
                                        "When I heard Alex talking about the saboteurs I reckoned a powerful method to help anyone."
                                    </span>
                                </p>

                                <p>When I heard Alex talking about his approach to professional development, I reckoned
                                    a powerful method to help anyone wishing to raise his/ her game.
                                    A session later, this impression is confirmed. If you want to reframe your career
                                    path in a more engaging way, contact Alex. He will provide you with useful guidance
                                    and dedicated coaching.</p>
                            </div><!-- /End Block content -->

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-testimonials-footer">
                                <span class="gfort-rate gfort-rate-5 gfort-rate-2x"></span>
                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Testimonials block -->


            </div><!-- /End col-lg-4 -->


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="/documents/The-massive-strike-of-the-inner-saboteurs-in-your-organization.pdf" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" target="_blank">Get The Saboteurs Booklet Now</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
