<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="TheSaboteurs">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>
                                    The saboteurs
                                    <br>
                                    The most dangerous enemy of your organization
                                </h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


            </div><!-- /End col-lg-8 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->


<!-- Section -->
<div class="gfort-section gfort-section-3x-padding gfort-section-half gfort-section-half-left-media">


    <!-- Media (Image) -->
    <div class="gfort-section-half-media">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/dSwYSghmlzc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div><!-- /End Media (Image) -->


    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-12 -->
            <div class="col-lg-12">


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content gfort-text-center">

                                <p>The inner saboteurs are those voices that ruthlessly remind us of what our colleagues
                                    and ourselves are not good at.</p>
                                <p>They are those entangled beliefs that tell us that we aren’t ready for our next
                                    challenge, that we shouldn’t take any risks, that the only one right way to do things
                                    is the one that can be proved with facts and data, that our colleagues and managers
                                    have no idea about how to do things right, or that we are the only ones capable to
                                    see the optimal way.</p>
                                <p>The most painful part is that we are clueless about their massive impact on our
                                    organizations, teams, and lives.</p>
                                <p>They are the ones that prevent our organizations to offer a world-class experience,
                                    our teams to achieve high-performance, and ourselves to move from controlling
                                    managers to empowering leaders.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="javascript:;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll" onclick="ml_webform_2428495('show')">Get The Saboteurs Free eBook</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->


</div><!-- /End Section -->