<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="Method">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-user"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Judging Ourselves</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>Our saboteur’s most dangerous lie, and the one we foolishly believe, is that we aren’t worthy of love and respect just by who we are, we need to earn those.</p>
                                <p>Our saboteurs push us into action through threats of fear, shame, and guilt.</p>
                                <p>You are helplessly manipulated by your saboteurs.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-users"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Judging Others</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>If you find yourself in a continuous and strenuous fight with a colleague, chances are very high that your saboteurs are busy judging your colleague and vice versa.</p>
                                <p>This is especially true when you feel completely sure that you are right and your colleague is wrong.</p>
                                <p>Many times you couldn’t be more blind.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-suitcase"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Judging Our Circumstances</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>One of the saboteurs' most dangerous lies is: "I'll be happy when...".</p>
                                <p>We pursue something that will give us happiness.<br>
                                    The problem with this approach is that we chase a moving point. An achievement that loses all its meaning as soon as we reach it.</p>
                                <p>Your saboteurs make you become a puppet chasing a stick.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-12"></div>
            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

</div><!-- /End Section -->