<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="TripleImpact">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-user"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Sabotaged by Ourselves</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <br>
                                <p>Our self-saboteur’s most dangerous lie, and the one we most foolishly believe, is that we aren’t worthy of respect and acceptance just by who we are, we need to earn those.</p>
                                <p>Our self-saboteurs push us into action through threats of fear, shame, and guilt.</p>
                                <p>We are helplessly manipulated by our self-saboteurs.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-users"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Sabotaged by Others</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <br>
                                <p>If you find yourself in a continuous and strenuous fight with a colleague, chances are very high that your self-saboteurs are busy judging your colleague and vice versa.</p>
                                <p>This is especially true the more you feel sure that you are right and your colleague is wrong.</p>
                                <p>Your self-saboteurs work tirelessly to prevent you from seeing the whole picture.</p>
                                <p>They make you powerlessly blind.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Icon block -->
                <div class="gfort-block gfort-block-icon gfort-block-icon-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-icon-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-icon-head accent-color">
                            <i class="fas fa-2x fa-suitcase"></i>
                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-icon-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-icon-heading">
                                <h4>Sabotaged by Our Circumstances</h4>
                            </div><!-- /End Block heading -->

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-icon-content">
                                <p>One of the self-saboteurs' most dangerous lies is: "I'll be happy when...".</p>
                                <p>We pursue goals that will give us fulfillment and happiness.</p>
                                <p>The problem with this approach is that we chase a moving point. An achievement that loses all its meaning as soon as we reach it.</p>
                                <p>Your self-saboteurs make you become a puppet chasing a stick.</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Icon block -->

                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-lg-none"></div>


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <!-- GAP -->
                <div class="gfort-gap gfort-gap-12"></div>
            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

</div><!-- /End Section -->