<!-- Section -->
<div class="gfort-section gfort-section-3x-padding grey-1-bg-color gfort-bg-position-center-left" style="background-image: url(/new-assets/images/about/hero/hero-bkg.jpg);">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-12 -->
            <div class="col-lg-12">


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-72 d-none d-xl-block"></div>


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-mb-24">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p class="h4 font-weight-400">Hello, my name is</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-6 d-none d-md-block"></div>


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-mb-24">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h1 class="font-weight-900">Alex Barba</h1>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-12 d-none d-md-block"></div>


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-block-section-title-intro">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p class="h4 font-weight-400">
                                                                    <span class="gfort-text-animation">
                                                                        <span>i'm a Leadership Coach</span>
                                                                        <span>I help Tech Organizations</span>
                                                                    </span>
                                </p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-18 d-none d-md-block"></div>


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer">

                                <a href="#" class="gfort-btn gfort-btn-primary gfort-btn-round gfort-btn-lg">READ MORE</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-72 gfort-sep-bottom white-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,288L1440,32L1440,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->

</div><!-- /End Section -->