<!-- Section -->
<div class="gfort-section gfort-section-3x-padding" id="About">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-md-12 -->
            <div class="col-md-12">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>My Story</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->

                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>During my 15 years career in the tech industry, I have become very aware of the real leadership and collaboration challenges for tech companies.</p>

                                <p>I have been working closely with managers, engineers, and product leaders and I have realized that people with different roles in tech companies speak different languages and that more often than not, they don’t understand each other. I do.</p>

                                <p>I support managers and employees at all levels to identify what needs to be done and, what is more important, what needs to be stopped to achieve long term positive change.</p>

                                <p>I help organizations and individuals to develop leadership skills that empower people and take the business to the next level.</p>

                                <p>Along these years, I have developed a powerful tool, my “bullshit-meter”. A powerful intuition, supported by deep listening skills, that allows me to hear what is not being said and to really understand what is going on under the surface.</p>

                                <p>I combine my “bullshit-meter” and my “painfully honesty” to help individuals in tech organizations to discover what they do in order to succeed and what they do, unconsciously, to sabotage themselves.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-12 -->


            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>From Engineer to Leadership Coach</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I started my career as a software engineer working for multinational companies like Hewlett Packard, Gamelearn, or HomeAdvisor.</p>

                                <p>The same as many of my colleagues, I was focusing exclusively on technical skills. Coding best practices, solid principles, domain-driven design, test-driven development, dev-ops automation, reusability, scalability, etc.</p>

                                <p>I thought this was not only important but the only thing to focus on. I was even making fun and disrespecting the ones that weren’t doing the same. How narrow was my perspective!</p>

                                <p>
                                    Life put me in front of a team and I soon realized that I had no idea about how to lead people.
                                    <br>
                                    I have the technical knowledge, I was a hard worker and I was coding more and better than ever before, but we weren’t a team. Each of us was working on different things, on different goals, on different worlds.
                                </p>

                                <p>It was eight years ago when I discovered Agile and Scrum.</p>

                                <p>We decided to give a try to Scrum and a miracle happened. We started talking to each other, we started aligning with each other, we started collaborating. Astonishing results followed fast.</p>

                                <p>Our projects started moving forward with unprecedented speed, the bugs disappeared and what is more important, we started having the feeling that we were belonging to something bigger than ourselves.</p>

                                <p>We finally understood why synergy means when the total is bigger than the sum of the parts.</p>

                                <p>I became a Certified Scrum Master and was able to create high-performing and autonomous teams able to multiply their impact by a factor of more than 10 thanks to their commitment and accountability.</p>

                                <p>I discovered that I was able to bring more value as a people-oriented leader than working behind a screen.</p>

                                <p>Then I decided to move forward on my leadership-oriented career and I became a Leadership Coach, helping tech organizations to tackle management and teamwork challenges and taking their business to the next level.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/about/my-story/alex-barba.jpg" alt="Alex Barba - Leadership Coach for Tech Organizations" class="gfort-width-auto "/>
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">

                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Marshall Goldsmith Certified Leadership Coach</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>As a Marshall Goldsmith Stakeholder Centered Certified Coach, I work with leaders and teams using a well-proven and powerful framework to achieve positive change that impacts their behavior and generates organizational success.</p>

                                <p>Who decides whether or not your products and services are good? Your customers, don’t they?</p>
                                <p>In the same way, who decides whether or not you are good as a leader? The answer is neither you nor your manager. The answer is the people that work with you, at all levels. Your stakeholders are your customers.</p>

                                <p>The Marshall Goldsmith Stakeholder Centered framework that I use works so well that if, at the end of the program there is no positive, measurable change, you don’t pay a dime.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('contact') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Let's talk</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
