<!-- Header
                ============================================================ -->
<header class="gfort-section-header gfort-section-header-layout-1 gfort-section-header-fixed gfort-section-header-transparent gfort-section-header-transparent-light">
    <!-- Main header section container -->
    <div class="gfort-section-header-container">


        <!-- Header menu section -->
        <div class="gfort-section-header-menu">
            <!-- Header menu section container -->
            <div class="gfort-section-header-menu-container">
                <!-- Navbar -->
                <nav class="gfort-navbar gfort-navbar-expand-lg">


                    <!-- container -->
                    <div class="container secondary-font-family">


                        <!-- Logo -->
                        <a class="gfort-navbar-brand" href="#" title="Expanding Leadership Coaching Training">
                            <img src="assets/images/expanding/logo-dark.png" alt="Expanding Leadership Coaching Logo" class="gfort-navbar-brand-normal" />
                            <img src="assets/images/expanding/logo.png" alt="Expanding Leadership Coaching Logo" class="gfort-navbar-brand-transparent" />
                        </a><!-- /End Logo -->


                        <!-- Toggler button -->
                        <button class="gfort-navbar-toggler" type="button" data-toggle="collapse" data-target="#gfort-navbar-collapse">
                            <span class="gfort-navbar-toggler-wd">MENU</span>
                            <span class="gfort-navbar-toggler-lines-wrapper">
                                                <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-top"></i>
                                                <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-middle"></i>
                                                <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-bottom"></i>
                                            </span>
                        </button><!-- /End Toggler button -->


                        <!-- Header menu (Desktop) -->
                        <div class="gfort-navbar-collapse gfort-navbar-collapse-desktop-menu">


                            <!-- Header menu links -->
                            <ul class="gfort-navbar-nav ml-auto">

                                <!-- Home -->
                                <li class="gfort-nav-item">
                                    <a class="gfort-nav-link data-gfort-scroll" href="#WhyThisTraining"><span>Why This Training</span></a>
                                </li>

                                <!-- Portfolio -->
                                <li class="gfort-nav-item">
                                    <a class="gfort-nav-link data-gfort-scroll" href="#WhatYouWillLearn"><span>What You'll Learn</span></a>
                                </li>

                                <!-- Price -->
                                <li class="gfort-nav-item">
                                    <a class="gfort-nav-link data-gfort-scroll" href="#Module1"><span>Training Information</span></a>
                                </li>

                                <!-- Contact -->
                                <li class="gfort-nav-item">
                                    <a class="gfort-nav-link data-gfort-scroll" href="#Testimonials"><span>What Students Say</span></a>
                                </li>

                                <!-- Contact -->
                                <li class="gfort-nav-item">

                                    <!-- Block footer -->
                                    <div class="gfort-block-footer gfort-block-cta-footer" style="padding-bottom: 5px; max-width: 192px">
                                        <a href="#Contact" class="gfort-btn gfort-btn-block gfort-btn-lg gfort-btn-round gfort-btn-primary data-gfort-scroll">Save Your Spot</a>
                                    </div><!-- /End Block footer -->

                                </li>

                            </ul><!-- /End Header menu links -->


                        </div><!-- /End Header menu -->


                    </div><!-- /End container -->


                    <!-- Header menu (Mobile) -->
                    <div class="collapse gfort-navbar-collapse gfort-navbar-collapse-mobile-menu" id="gfort-navbar-collapse">
                    </div><!-- /End Header menu (Mobile) -->


                </nav><!-- /End Navbar -->
            </div><!-- /End Header menu section container -->
        </div><!-- /End Header menu section -->


    </div><!-- /End Main header section container -->
</header><!-- /End Main header section wrapper -->