<!DOCTYPE html>
<html lang="en-US">


<!-- head
======================================================================== -->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160278084-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160278084-2');
        gtag('config', 'AW-639405002');
    </script>

    <!-- Basic Info
    ==================================================================== -->
    <title>Expanding Leadership Coaching Training | Alex Barba Coaching</title>

    <meta name="author" content="Alex Barba Coaching">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="coaching, coaching training, coaching certification, lige coaching, executive coaching, leadership coaching, personal development">
    <meta name="description" content="Discover the secrets to become a powerful transformational Coach. Become an effective Coach working One-on-One with me.">

    <!-- Mobile Configurations
    ==================================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">

    <!-- fav icon
    ==================================================================== -->
    <!-- Fav -->
    <link rel="icon" href="assets/images/icon/icon-32x32.png" sizes="32x32" />
    <!-- Mobile -->
    <link rel="icon" href="assets/images/icon/icon-192x192.png" sizes="192x192" />
    <!-- Apple -->
    <link rel="apple-touch-icon-precomposed" href="assets/images/icon/icon-180x180.png" />
    <!-- Windows -->
    <meta name="msapplication-TileImage" content="assets/images/icon/icon-270x270.png" />

    <!-- Google Fonts
    ==================================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900%7CRoboto:400,500,700&amp;display=swap" rel="stylesheet">

    <!-- CSS Files
    ==================================================================== -->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />

    <style>
        .gfort-intro-index-portfolio .gfort-block-portfolio-post-head {
            -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
        }
    </style>

</head><!-- /End head -->


<!-- body
======================================================================== -->
<body>


<!-- Main wrapper
==================================================================== -->
<div id="gfort-main-wrapper">
    <!-- Main container -->
    <div id="gfort-main-container">


        <!-- Back to top button
        ============================================================ -->
        <a href="#" id="gfort-btn-back-to-top" class="gfort-btn-back-to-top" title="Back to top">
            <i class="fas fa-chevron-up"></i>
        </a>

        {% block header %}{% endblock %}

        <!-- Page body
        ============================================================ -->
        <div id="gfort-page-body" class="gfort-page-body">
            <!-- row -->
            <div class="row gfort-main-row justify-content-center">


                <!-- Content area
                ==================================================== -->
                <div id="primary" class="gfort-content-area col-lg-12">
                    <!-- Main -->
                    <main id="main" class="gfort-content-area-container site-main">

                        {% block body %}{% endblock %}

                    </main><!-- /End Main -->
                </div><!-- /End Content area -->


            </div><!-- /End row -->
        </div><!-- /End Page body -->

    </div><!-- /End Main container -->
</div><!-- /End Main wrapper -->


<!-- Java Script Files
==================================================================== -->
<script src="assets/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins/jquery/jquery-ui.min.js"></script>

<script data-main="assets/js/scripts.js" src="assets/js/require.js"></script>


</body><!-- /End body -->


</html><!-- /End html -->