<!-- Section -->
<div class="gfort-section gfort-section-3x-padding" id="Story">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-md-12 -->
            <div class="col-md-12">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>About me</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->

                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I have been coaching teams in the Software industry for more than seven years.</p>

                                <p>There are quite some parallelisms with coaching people. Coaching teams is also about change, transformation and success. It is also about tiny changes in the way people work together that have the greatest impact.</p>

                                <p>At some point, I just realized that the impact I was having on the teams was because of the impact I was having on the people.</p>

                                <p>This insight came to me thanks to working with my own coach. Maybe I would have never realized otherwise.</p>

                                <p>At that specific moment, I was, for the first time, able to connect the dots and to realize that what was making me feel alive was the coaching I have been doing with the individuals in the teams.</p>

                                <p>That was the moment when I decided to do a tiny change in my career and spend all my energy following my passion for coaching.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-12 -->


            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>My coaching is integral and collaborative</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I coach my clients as a whole. We don't focus on one aspect of their lives because real change and transformation don't happen only in one part of the person.</p>

                                <p>It affects the whole human being.</p>

                                <p>You are one, whole, resourceful and creative and the same you can't train only your right arm and ignore your left one, you can't transform your career while forgetting about your full happiness, or the other way around.</p>

                                <p>I use the strength and courage of my clients to transform their lives. My coaching is collaborative because we work together. We both fully commit and put all our energy into the coaching relationship to make the biggest impact and have the most astonishing results.</p>

                                <p>You make the magic happen, I'm just there to be sure you are fully aware.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6" style="text-align: center">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/about/my-story/alex-barba.jpg" alt="Alex Barba - Leadership Coach for Tech Organizations" class="gfort-width-auto "/>
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->

                <!-- Block body -->
                <div class="gfort-block-body gfort-block-text-body">

                    <div style="display: inline-block; padding: 10px">
                        <a href="https://sccoaching.com/coach/abarba1" class="gfort-width-auto" target="_blank">
                            <img src="/new-assets/images/about/my-story/mgscc-logo.png" alt="Marshall Goldsmith Stakeholder Centered Coaching - Certified Professional Coach" />
                        </a>
                    </div>

                    <div style="display: inline-block; padding: 10px">
                        <a href="/documents/ICFMembershipCertificate__nficf_8f160140-cb29-42e4-9e8d-9984b988390f6242020.pdf" class="gfort-width-auto" target="_blank">
                            <img src="/new-assets/images/about/my-story/icf-logo.png" alt="International Coaching Federation" />
                        </a>
                    </div>

                    <div style="display: inline-block; padding: 10px">
                        {#                                        <a href="#" class="gfort-width-auto" target="_blank">#}
                        <img src="/new-assets/images/about/my-story/cti-logo.png" alt="Co-Active Training Institute - Co-Active Coach" />
                        {#                                        </a>#}
                    </div>

                    <div style="display: inline-block; padding: 10px 10px 10px 45px">
                        <a href="https://www.icagile.com/Certification/Verify-Credentials/ctl/UserDetails/mid/697/uid/a5e3e490-e9ea-4cfe-8cf8-b60fa45f17b0" class="gfort-width-auto" target="_blank">
                            <img src="/new-assets/images/about/my-story/icp-acc-logo.png" alt="ICAgile Certified Professional - Agile Coaching (ICP-ACC)" />
                        </a>
                    </div>

                </div><!--/End Block body -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-12 -->
            <div class="col-md-12">

                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>My coaching is raw and powerful</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I have a very sensitive 'bullshit' meter. I can feel when you aren't able to speak up your voice. I can sense when you feel you need to hold yourself back. When you aren't free.</p>

                                <p>I look where you don't want to look at, where you don't realize is the right place to look at. I see what you aren't able to see, what you have forgotten you have.</p>

                                <p>I see what you aren't aware of.</p>

                                <p>I won't be there to please you. I won't be there to sugarcoat reality. I won't be there to believe the stories you use to convince yourself. I'll tell you exactly how it is. I'll ask you the tough questions. I'll say to you what nobody else wants to say.</p>

                                <p>I'll see the power in you, the resourcefulness and the passion. And I'll take you to your next level of accomplishment, success, and happiness.</p>

                                <p>I'll help you to discover the very tiny changes that create a radical impact on your life.</p>

                                <p>I'll help you to be authentic, achieve the impossible and make the deepest impact.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
