<!-- Section -->
<div class="gfort-section gfort-section-half gfort-section-half-left-media grey-1-bg-color" id="YourInvestment">

    <!-- Media (Image) -->
    <div class="gfort-section gfort-section-half-media">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                {% include 'Common/CoachingInvestment.html.twig' %}

            </div><!-- /End row -->
        </div><!-- /End container -->
    </div><!-- /End Media (Image) -->

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            {% include 'Common/CoachingCommitment.html.twig' %}

        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Block Call-To-Action -->
    <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call to Discover More</a>

    </div><!-- /End Block Call-To-Action -->

    <!-- GAP -->
    <div class="gfort-gap gfort-gap-30 d-none d-md-block"></div>

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom white-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->

</div><!-- /End Section -->
