<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="CoachingFees">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-2 white-bg-color">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head gfort-text-center">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>
                                    TAILOR-MADE
                                    <br>
                                    ONE-ON-ONE COACHING
                                </h5>
                                <i class="fas fa-2x fa-user accent-color"></i>
                            </div><!-- /End Title -->

                            <!-- Price -->
                            <div class="gfort-block-pricing-head-price">
                                <p>from</p>
                                <h2>350€</h2>
                                <p>per month</p>
                            </div><!-- /End Price -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <ul>
                                    <li>1on1 bi-weekly remote coaching sessions</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Coaching materials delivered at home</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Self-saboteurs discovery coaching session</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;360º feedback assessment</li>
                                </ul>
                            </div><!-- /End Block content -->

                            <br><br><br><br><br><br><br><br><br>
                            <!-- Block Call-To-Action -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call</a>

                            </div><!-- /End Block Call-To-Action -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-2 gfort-block-pricing-feature white-bg-color">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head gfort-text-center">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>STAKEHOLDER CENTERED COACHING</h5>
                                <i class="fas fa-2x fa-users accent-color"></i>
                            </div><!-- /End Title -->

                            <!-- Price -->
                            <div class="gfort-block-pricing-head-price">
                                <p>from</p>
                                <h2>480€</h2>
                                <p>per month</p>
                            </div><!-- /End Price -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <ul>
                                    <li>1on1 bi-weekly remote coaching sessions</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;SCC workbook and coaching materials delivered at home or office</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;360º Global Leadership Assessment</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Quarterly Progress Reviews</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Self-saboteurs discovery coaching session</li>
                                    <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Access to premium content</li>
                                </ul>
                            </div><!-- /End Block content -->

                            <br><br><br><br><br>

                            <!-- Block Call-To-Action -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call</a>

                            </div><!-- /End Block Call-To-Action -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


            <!-- col-lg-4 -->
            <div class="col-lg-4">


                <!-- Pricing table -->
                <div class="gfort-block gfort-block-boxed gfort-block-pricing gfort-block-pricing-layout-2 white-bg-color">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-pricing-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-pricing-head gfort-text-center">

                            <!-- Title -->
                            <div class="gfort-block-pricing-head-title">
                                <h5>STAKEHOLDER CENTERED COACHING FOR BUSINESS</h5>
                                <i class="fas fa-2x fa-users accent-color"></i> <i class="fas fa-2x fa-building accent-color"></i>
                            </div><!-- /End Title -->

                            <!-- Price -->
                            <div class="gfort-block-pricing-head-price">
                                <p>from</p>
                                <h2>720€</h2>
                                <p>per month</p>
                            </div><!-- /End Price -->

                        </div><!-- /End Block head -->

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-pricing-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-pricing-content">
                                <ul>
                                    <ul>
                                        <li>1on1 bi-weekly face-to-face coaching sessions in your office</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;SCC workbook and coaching materials delivered at home</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Self-saboteurs discovery coaching session</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;360º Global Leadership Assessment</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;Quarterly Progress Reviews</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;Quarterly Progress Assessments for the sponsor (company’s direct manager)</li>
                                        <li><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Access to premium content</li>
                                        <li style="font-weight: bolder" class="dark-1-color"><i class="fas fa-plus accent-color"></i>&nbsp;&nbsp;Success guaranteed or pay 0€</li>
                                    </ul>
                                </ul>
                            </div><!-- /End Block content -->

                            <!-- Block Call-To-Action -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call</a>

                            </div><!-- /End Block Call-To-Action -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Pricing table -->


            </div><!-- /End col-lg-4 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->