<!-- Section -->
<div class="gfort-section gfort-section-2x -padding gfort-pt-0 grey-1-bg-color">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gfort-flex-row-reverse align-items-center">

            <!-- GAP -->
            <div class="gfort-gap gfort-gap-57 d-none d-md-block"></div>

            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/one-on-one-coaching/working-together/working-together.jpg" alt="Team Coaching" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-md-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>How does it look like working together?</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>I work with executives, entrepreneurs, scientists, software engineers, athletes, moms, dads, women, men, great human beings with amazing goals.</p>

                                <p>My coaching is integral. It involves you all, your intentions, your behavior, your relationships, your environment, your whole life.</p>

                                <p>Sometimes people tell me, I just want to be coached about my career, the work I do. I don't want to talk about feelings or about relationships.</p>

                                <p>And I ask them, how are these separate? How is your career not a part of your life?</p>

                                <p>My coaching reaches every aspect of you because you are one full-whole and you can't consider you as a separate part from yourself.</p>

                                <p>We take it from where you are. One step at a time. And we go as far as you need to achieve astonishing transformation.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->

                <!-- Block footer -->
                <div class="gfort-block-footer gfort-block-pricing-footer gfort-text-center">
                    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/coach-alex-barba'});return false;" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Schedule a Free Call</a>
                </div><!-- /End Block footer -->

                <!-- GAP -->
                <div class="gfort-gap gfort-gap-51 d-none d-md-block"></div>


            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->

    <!-- Separator -->
    <div class="gfort-sep gfort-gap-36 gfort-sep-bottom white-color">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,96L30,128C60,160,120,224,180,229.3C240,235,300,181,360,176C420,171,480,213,540,197.3C600,181,660,107,720,106.7C780,107,840,181,900,202.7C960,224,1020,192,1080,160C1140,128,1200,96,1260,85.3C1320,75,1380,85,1410,90.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </div><!-- /End Separator -->
</div><!-- /End Section -->