<!-- Section -->
<div class="gfort-section dark-1-bg-color" id="Clients">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-12 -->
            <div class="col-lg-12">


                <!-- Slider block -->
                <div
                        class="gfort-block-wrapper gfort-owl-slider owl-carousel"
                        data-gfort-owl-slider-items-xl="7"
                        data-gfort-owl-slider-items-lg="6"
                        data-gfort-owl-slider-items-md="4"
                        data-gfort-owl-slider-items-sm="3"
                        data-gfort-owl-slider-items-xs="1"
                        data-gfort-owl-slider-items-margin="36"
                        data-gfort-owl-slider-loop="yes"
                        data-gfort-owl-slider-arrows="no"
                        data-gfort-owl-slider-arrows-layout="layout-2"
                        data-gfort-owl-slider-dots="no"
                        data-gfort-owl-slider-autoplay="yes"
                        data-gfort-owl-slider-dots-position="inside"
                        data-gfort-owl-slider-dots-color="light"
                        data-gfort-page-direction="ltr">


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/sonion-logo.png" alt="Sonion" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->

                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/l1nda-logo.png" alt="L1nda" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->

                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/equinor-logo.png" alt="Equinor" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->

                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/apple-logo.png" alt="Apple" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/att-logo.png" alt="AT&T" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/cisco-logo.png" alt="Cisco" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/dell-logo.png" alt="Dell" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/hp-logo.png" alt="Hewlett Packard" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/ibm-logo.png" alt="IBM" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/ing-logo.png" alt="ING" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/intel-logo.png" alt="Intel" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/lg-logo.png" alt="LG" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                    <!-- Slider item -->
                    <div class="gfort-owl-slider-item">
                        <!-- Image block -->
                        <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center light-color">
                            <!-- Block container -->
                            <div class="gfort-block-container gfort-block-image-container">

                                <!-- Block head -->
                                <div class="gfort-block-head gfort-block-image-head">
                                    <img src="/new-assets/images/home/clients/microsoft-logo.png" alt="Microsoft" class="gfort-width-auto" />
                                </div><!-- /End Block head -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Image block -->
                    </div><!-- /End Slider item -->


                </div><!-- /End Slider block -->


            </div><!-- /End col-lg-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->