<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="Services">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row align-items-center">

            <!-- Section title -->
            <div class="gfort-block gfort-block-section-title gfort-text-center">
                <!-- Block container -->
                <div class="gfort-block-container">

                    <!-- Block body -->
                    <div class="gfort-block-body gfort-block-section-title-body">

                        <!-- Block content tiny -->
                        <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                            <p>Alex Barba Coaching</p>
                        </div><!-- /End Block content tiny -->

                        <!-- Block heading -->
                        <div class="gfort-block-heading gfort-block-section-title-heading">
                            <h2>Services</h2>
                        </div><!-- /End Block heading -->

                        <!-- Divider -->
                        <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                            <div class="gfort-hr-divider-line-1"></div>
                            <div class="gfort-hr-divider-line-2"></div>
                        </div>

                    </div><!--/End Block body -->

                </div><!-- /End Block container -->

            </div><!-- /End Section title -->

            <!-- GAP -->
            <div class="gfort-gap gfort-gap-36"></div>

            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Image block -->
                <div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-image-container">

                        <!-- Block head -->
                        <div class="gfort-block-head gfort-block-image-head">
                            <img src="/new-assets/images/home/one-on-one-coaching/one-on-one-coaching.jpg" alt="One-On-One Leadership Coaching" />
                        </div><!-- /End Block head -->

                    </div><!-- /End Block container -->
                </div><!-- /End Image block -->


            </div><!-- /End col-lg-6 -->


            <!-- col-md-6 -->
            <div class="col-md-6">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>One-On-One Leadership Coaching</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-text-content">

                                <p>Are you in the tech industry and want you and your employees to go beyond technical skills and become empowering leaders?</p>
                                <p>I support managers and employees at all levels to identify what needs to be done and, what is more important, what needs to be stopped.</p>
                                <p>I help tech organizations and individuals to develop leadership skills that empower people and take the business to the next level.</p>
                                <p>With my leadership coaching expertise, I guarantee measurable results. If you don’t get the results, you don’t have to pay.</p>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-6 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->
