<!-- Section -->
<div class="gfort-section gfort-section-2x-padding" id="YourOrganization">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block content tiny -->
                            <div class="gfort-block-section-title-heading-tiny font-size-13 font-weight-600 secondary-font-family accent-color">
                                <p>Alex Barba Coaching</p>
                            </div><!-- /End Block content tiny -->

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Your Organization</h2>
                            </div><!-- /End Block heading -->

                            <!-- Divider -->
                            <div class="gfort-hr-divider gfort-hr-divider-layout-10 accent-color">
                                <div class="gfort-hr-divider-line-1"></div>
                                <div class="gfort-hr-divider-line-2"></div>
                            </div>

                            <!-- Block content -->
                            <div class="gfort-block-content gfort-block-section-title-content">
                                <p>Do any of these challenges resonates with you?</p>
                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-8 -->


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Block -->
                <div class="gfort-block">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body">

                            <!-- Block content -->
                            <div class="gfort-block-content">

                                <ul class="gfort-bordered-list grey-2-border-color">
                                    <li>Do technical, product, and management people in your organization talk different languages?</li>
                                    <li>Do technical and product people in your organization pursue different goals?</li>
                                    <li>Do you hire and onboard engineers that leave the company within a year?</li>
                                    <li>Do you need to manage your employees instead of them manage your projects?</li>
                                    <li>How do you develop your employees’ leadership skills?</li>
                                    <li>What has your organization done over the last year to address these problems?</li>
                                    <li>Would you like to discover how to develop leaders to be consistently more effective in a guaranteed and measurable way?</li>
                                    <li>Would you like to discover how leaders in your organization can develop employees into leaders themselves?</li>
                                </ul>

                            </div><!-- /End Block content -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Block -->


            </div><!-- /End col-lg-4 -->

            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- Text block -->
                <div class="gfort-block gfort-block-text">
                    <!-- Block container -->
                    <div class="gfort-block-container gfort-block-text-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-text-body">

                            <!-- Block footer -->
                            <div class="gfort-block-footer gfort-block-text-footer gfort-text-center">

                                <a href="{{ path('contact') }}" class="gfort-btn gfort-btn-primary gfort-btn-round data-gfort-scroll">Let's talk</a>

                            </div><!-- /End Block footer -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Text block -->


            </div><!-- /End col-md-12 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->