{% extends 'Layout/BaseLayout.html.twig' %}

{% block body %}
    <div id="content">
        {% if posts|length > 1 %}
            {{ include('Layout/Component/PostIterator.html.twig') }}
        {% else %}
            {% for post in posts %}
                {{ include('Layout/Component/Post.html.twig') }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}