<div class="social-icons-container">
    <div class="social-icon linkedin"></div>
    <div class="social-icon twitter"></div>
    <div class="social-icon linkedin"></div>
    <div class="social-icon twitter"></div>
</div>